{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% block extrastyle %}
<style>
:root {
  --primary: #79aec8;
  --secondary: #417690;
  --accent: #f5dd5d;
  --primary-fg: #fff;
  --body-fg: #333;
  --body-bg: #fff;
  --body-quiet-color: #666;
  --body-loud-color: #000;
  --header-color: #ffc;
  --header-branding-color: var(--accent);
  --header-bg: var(--secondary);
  --header-link-color: var(--primary-fg);
  --breadcrumbs-fg: #c4dce8;
  --breadcrumbs-link-fg: var(--body-bg);
  --breadcrumbs-bg: var(--primary);
  --link-fg: #447e9b;
  --link-hover-color: #036;
  --link-selected-fg: #5b80b2;
  --hairline-color: #e8e8e8;
  --border-color: #ccc;
  --error-fg: #ba2121;
  --message-success-bg: #dfd;
  --message-warning-bg: #ffc;
  --message-error-bg: #ffefef;
  --darkened-bg: #f8f8f8;
  --selected-bg: #e4e4e4;
  --selected-row: #ffc;
  --button-fg: #fff;
  --button-bg: #565288;
  --button-hover-bg: #322e60;
  --default-button-bg: var(--secondary);
  --default-button-hover-bg: #205067;
  --close-button-bg: #888;
  --close-button-hover-bg: #747474;
  --delete-button-bg: #ba2121;
  --delete-button-hover-bg: #a41515;
  --object-tools-fg: var(--button-fg);
  --object-tools-bg: var(--close-button-bg);
  --object-tools-hover-bg: var(--close-button-hover-bg);
}
#header {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background: #322e60;
  color: var(--header-color);
  overflow: hidden;
}
.module h2, .module caption, .inline-group h2 {
  margin: 0;
  padding: 8px;
    padding-left: 8px;
  font-weight: 400;
  font-size: 0.8125rem;
  text-align: left;
  background: #322e60;
  color: var(--header-link-color);
  border-radius: 5px;
}
div.breadcrumbs {
  background: #565288;
  padding: 10px 40px;
  border: none;
  color: var(--breadcrumbs-fg);
  text-align: left;
}
</style>
{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
