{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% block extrastyle %}
<style>
#header {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background: #322e60;
  color: var(--header-color);
  overflow: hidden;
}
.module h2, .module caption, .inline-group h2 {
  margin: 0;
  padding: 8px;
    padding-left: 8px;
  font-weight: 400;
  font-size: 0.8125rem;
  text-align: left;
  background: #322e60;
  color: var(--header-link-color);
  border-radius: 5px;
}
</style>
{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
