<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	{% block addmeta %}{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>

	<link rel="stylesheet" href="{% static 'courses/css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'courses/css/fontawesome-all.css' %}">
	<link rel="stylesheet" href="{% static 'courses/css/flaticon.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'courses/css/meanmenu.css' %}">
	<link rel="stylesheet" href="{% static 'courses/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'courses/css/video.min.css' %}">
	<link rel="stylesheet" href="{% static 'courses/css/lightbox.css' %}">
	<link rel="stylesheet" href="{% static 'courses/css/progess.css' %}">
	{% block addlink %}{% endblock %}
	<link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'courses/css/responsive.css' %}">
	<link rel="stylesheet"  href="{% static 'courses/css/colors/switch.css' %}">
	<link href="{% static 'courses/css/colors/color-2.css' %}" rel="alternate stylesheet" type="text/css" title="color-2">
	<link href="{% static 'courses/css/colors/color-3.css' %}" rel="alternate stylesheet" type="text/css" title="color-3">
	<link href="{% static 'courses/css/colors/color-4.css' %}" rel="alternate stylesheet" type="text/css" title="color-4">
	<link href="{% static 'courses/css/colors/color-5.css' %}" rel="alternate stylesheet" type="text/css" title="color-5">
	<link href="{% static 'courses/css/colors/color-6.css' %}" rel="alternate stylesheet" type="text/css" title="color-6">
	<link href="{% static 'courses/css/colors/color-7.css' %}" rel="alternate stylesheet" type="text/css" title="color-7">
	<link href="{% static 'courses/css/colors/color-8.css' %}" rel="alternate stylesheet" type="text/css" title="color-8">
	<link href="{% static 'courses/css/colors/color-9.css' %}" rel="alternate stylesheet" type="text/css" title="color-9">
</head>

<body>

	<div id="preloader"></div>


	<div id="switch-color" class="color-switcher">
		<div class="open"><i class="fas fa-cog fa-spin"></i></div>
		<h4>COLOR OPTION</h4>
		<ul>
			<li><a class="color-2" onclick="setActiveStyleSheet('color-2'); return true;" href="{% url 'home' %}#!"><i class="fas fa-circle"></i></a> </li>
			<li><a class="color-3" onclick="setActiveStyleSheet('color-3'); return true;" href="{% url 'home' %}#!"><i class="fas fa-circle"></i></a> </li>
			<li><a class="color-4" onclick="setActiveStyleSheet('color-4'); return true;" href="{% url 'home' %}#!"><i class="fas fa-circle"></i></a> </li>
			<li><a class="color-5" onclick="setActiveStyleSheet('color-5'); return true;" href="{% url 'home' %}#!"><i class="fas fa-circle"></i></a> </li>
			<li><a class="color-6" onclick="setActiveStyleSheet('color-6'); return true;" href="{% url 'home' %}#!"><i class="fas fa-circle"></i></a> </li>
			<li><a class="color-7" onclick="setActiveStyleSheet('color-7'); return true;" href="{% url 'home' %}#!"><i class="fas fa-circle"></i></a> </li>
			<li><a class="color-8" onclick="setActiveStyleSheet('color-8'); return true;" href="{% url 'home' %}#!"><i class="fas fa-circle"></i></a> </li>
			<li><a class="color-9" onclick="setActiveStyleSheet('color-9'); return true;" href="{% url 'home' %}#!"><i class="fas fa-circle"></i></a> </li>
		</ul>
		<button class="switcher-light">WIDE </button>
		<button class="switcher-dark">BOX </button>
	</div>


	<!-- Start of Header section
		============================================= -->
		<header>
			<div id="main-menu"  class="main-menu-container">
				<div  class="main-menu">
					<div class="container">
						<div class="navbar-default">
							<div class="navbar-header float-left">
								<a class="navbar-brand text-uppercase" href="{% url 'home' %}"><img src="{% static 'courses/img/logo/logo.png' %}" alt="logo"></a>
							</div><!-- /.navbar-header -->

							<div class="cart-search float-right ul-li">
								<ul>
									<li><a href="{% url 'home' %}#"><i class="fas fa-shopping-bag"></i></a></li>
									<li>
										<button type="button" class="toggle-overlay search-btn">
											<i class="fas fa-search"></i>
										</button>
										<div class="search-body">
											<div class="search-form">
												<form action="{% url 'home' %}#">
													<input class="search-input" type="search" placeholder="Search Here">
													<div class="outer-close toggle-overlay">
														<button type="button" class="search-close">
															<i class="fas fa-times"></i>
														</button>
													</div>
												</form>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="log-in float-right">
								<a  data-toggle="modal" data-target="#myModal" href="{% url 'home' %}#">log in</a>
								<!-- The Modal -->
								<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">

											<!-- Modal Header -->
											<div class="modal-header backgroud-style">
												<div class="gradient-bg"></div>
												<div class="popup-logo">
													<img src="{% static 'courses/img/logo/p-logo.jpg' %}" alt="">
												</div>
												<div class="popup-text text-center">
													<h2> <span>Login</span> Your Account.</h2>
													<p>Login to our website, or <span>REGISTER</span></p>
												</div>
											</div>

											<!-- Modal body -->
											<div class="modal-body">
												<div class="facebook-login">
													<a href="{% url 'home' %}#">
														<div class="log-in-icon">
															<i class="fab fa-facebook-f"></i>
														</div>
														<div class="log-in-text text-center">
															Login with Facebook
														</div>
													</a>
												</div>
												<div class="alt-text text-center"><a href="{% url 'home' %}#">OR SIGN IN</a> </div>
												<form class="contact_form" action="{% url 'home' %}#" method="POST" enctype="multipart/form-data">
													<div class="contact-info">
														<input class="name" name="Email" type="email" placeholder="Your@email.com*">
													</div>
													<div class="contact-info">
														<input class="pass" name="name" type="password" placeholder="Your password*">
													</div>
													<div class="nws-button text-center white text-capitalize">
														<button type="submit" value="Submit">LOg in Now</button> 
													</div> 
												</form>
												<div class="log-in-footer text-center">
													<p>* Denotes mandatory field.</p>
													<p>** At least one telephone number is required.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<nav class="navbar-menu float-right">
								<div class="nav-menu ul-li">
									<ul>
										<li class="menu-item-has-children ul-li-block">
											<a href="{% url 'home' %}">Home</a>
										</li>
										<li><a href="{% url 'about' %}">О нас</a></li>
										<li><a href="{% url 'contact' %}">Контакты</a></li>
										<li><a href="{% url 'course' %}">Курсы</a></li>
									</ul>
								</div>
							</nav>

							<div class="mobile-menu">
								<div class="logo"><a href="{% url 'home' %}"><img src="{% static 'courses/img/logo/logo.png' %}" alt="Logo"></a></div>
								<nav>
									<ul>
										<li><a href="{% url 'home' %}l">Home</a></li>
										<li><a href="{% url 'about' %}">О нас</a></li>
										<li><a href="{% url 'contact' %}">Контакты</a></li>
										<li><a href="{% url 'course' %}">Курсы</a></li>

									</ul>
								</nav>

							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
<!-- Start of Header section
	============================================= -->

	{% block content %}
  	{% endblock %}

	<!-- Start of footer section
		============================================= -->
		<footer>
			<section id="footer-area" class="footer-area-section">
				<div class="container">
					<div class="footer-content pb10">
						<div class="row">
							<div class="col-md-3">
								<div class="footer-widget "  >
									<div class="footer-logo mb35">
										<img src="{% static 'courses/img/logo/f-logo.png' %}" alt="">
									</div>
									<div class="footer-about-text">
										<p>We take our mission of increasing global access to quality education seriously. We connect learners to the best universities and institutions from around the world.</p>
										<p>Lorem ipsum dolor sit amet we take our mission of increasing global access to quality education seriously. </p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="footer-widget "  >
									<div class="footer-menu ul-li-block">
										<h2 class="widget-title">Useful Links</h2>
										<ul>
											<li><a href="{% url 'about' %}#"><i class="fas fa-caret-right"></i>About Us</a></li>
											<li><a href="{% url 'home' %}#"><i class="fas fa-caret-right"></i>Graphic Design</a></li>
											<li><a href="{% url 'home' %}#"><i class="fas fa-caret-right"></i>Mobile Apps</a></li>
											<li><a href="{% url 'home' %}#"><i class="fas fa-caret-right"></i>Responsive Website</a></li>
											<li><a href="{% url 'home' %}#"><i class="fas fa-caret-right"></i>Graphic Design</a></li>
											<li><a href="{% url 'home' %}#"><i class="fas fa-caret-right"></i>Mobile Apps</a></li>
										</ul>
									</div>
								</div>
								<div class="footer-menu ul-li-block "  >
									<h2 class="widget-title">Account Info</h2>
									<ul>
										<li><a href="{% url 'home' %}#"><i class="fas fa-caret-right"></i>Setting Account</a></li>
										<li><a href="{% url 'home' %}#"><i class="fas fa-caret-right"></i>Login & Register</a></li>
										<li><a href="{% url 'contact' %}#"><i class="fas fa-caret-right"></i>Contact Us</a></li>
										<li><a href="{% url 'home' %}#"><i class="fas fa-caret-right"></i>Graphic Design</a></li>
										<li><a href="{% url 'home' %}#"><i class="fas fa-caret-right"></i>Mobile Apps</a></li>
										<li><a href="{% url 'home' %}#"><i class="fas fa-caret-right"></i>Responsive Website</a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-3">
								<div class="footer-widget "  >
									<h2 class="widget-title">Photo Gallery</h2>
									<div class="photo-list ul-li">
										<ul>
											<li>
												<img src="{% static 'courses/img/gallery/g-1.jpg' %}" alt="">
												<div class="blakish-overlay"></div>
												<div class="pop-up-icon">
													<a href="{% static 'courses/img/gallery/g-1.jpg' %}" data-lightbox="roadtrip">
														<i class="fas fa-search"></i>
													</a>
												</div>
											</li>
											<li>
												<img src="{% static 'courses/img/gallery/g-2.jpg' %}" alt="">
												<div class="blakish-overlay"></div>
												<div class="pop-up-icon">
													<a href="{% static 'courses/img/gallery/g-2.jpg' %}" data-lightbox="roadtrip">
														<i class="fas fa-search"></i>
													</a>
												</div>
											</li>
											<li>
												<img src="{% static 'courses/img/gallery/g-3.jpg' %}" alt="">
												<div class="blakish-overlay"></div>
												<div class="pop-up-icon">
													<a href="{% static 'courses/img/gallery/g-3.jpg' %}" data-lightbox="roadtrip">	<i class="fas fa-search"></i></a>
												</div>
											</li>
											<li>
												<img src="{% static 'courses/img/gallery/g-4.jpg' %}" alt="">
												<div class="blakish-overlay"></div>
												<div class="pop-up-icon">
													<a href="{% static 'courses/img/gallery/g-4.jpg' %}" data-lightbox="roadtrip">	<i class="fas fa-search"></i></a>
												</div>
											</li>
											<li>
												<img src="{% static 'courses/img/gallery/g-5.jpg' %}" alt="">
												<div class="blakish-overlay"></div>
												<div class="pop-up-icon">
													<a href="{% static 'courses/img/gallery/g-5.jpg' %}" data-lightbox="roadtrip">	<i class="fas fa-search"></i></a>
												</div>
											</li>
											<li>
												<img src="{% static 'courses/img/gallery/g-6.jpg' %}" alt="">
												<div class="blakish-overlay"></div>
												<div class="pop-up-icon">
													<a href="{% static 'courses/img/gallery/g-6.jpg' %}" data-lightbox="roadtrip">	<i class="fas fa-search"></i></a>
												</div>

											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div> 
					<!-- /footer-widget-content -->
					<div class="footer-social-subscribe mb65">
						<div class="row">
							<div class="col-md-3">
								<div class="footer-social ul-li "  >
									<h2 class="widget-title">Social Network</h2>
									<ul>
										<li><a href="{% url 'home' %}#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="{% url 'home' %}#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="{% url 'home' %}#"><i class="fab fa-google-plus-g"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-9">
								<div class="subscribe-form "  >
									<h2 class="widget-title">Subscribe Newsletter</h2>

									<div class="subs-form relative-position">
										<form action="{% url 'home' %}#" method="post">
											<input class="course" name="course" type="email" placeholder="Email Address.">
											<div class="nws-button text-center  gradient-bg text-uppercase">
												<button type="submit" value="Submit">Subscribe now</button> 
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="copy-right-menu">
						<div class="row">
							<div class="col-md-6">
								<div class="copy-right-text">
									<p>© 2018 - Designed & Developed by <a href="https://jthemes.com" title="Best Premium WordPress, HTML Template Store"> Jthemes Studio</a>. All rights reserved</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="copy-right-menu-item float-right ul-li">
									<ul>
										<li><a href="{% url 'home' %}#">License</a></li>
										<li><a href="{% url 'home' %}#">Privacy & Policy</a></li>
										<li><a href="{% url 'home' %}#">Term Of Service</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</footer>
	<!-- End of footer section
		============================================= -->


		<!-- For Js Library -->
		<script src="{% static 'courses/js/jquery-2.1.4.min.js' %}"></script>
		<script src="{% static 'courses/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'courses/js/popper.min.js' %}"></script>
		<script src="{% static 'courses/js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'courses/js/jarallax.js' %}"></script>
		<script src="{% static 'courses/js/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'courses/js/lightbox.js' %}"></script>
		<script src="{% static 'courses/js/jquery.meanmenu.js' %}"></script>
		<script src="{% static 'courses/js/scrollreveal.min.js' %}"></script>
		<script src="{% static 'courses/js/jquery.counterup.min.js' %}"></script>
		<script src="{% static 'courses/js/waypoints.min.js' %}"></script>
		<script src="{% static 'courses/js/jquery-ui.js' %}"></script>
		<script src="{% static 'courses/js/gmap3.min.js' %}"></script>
		<script src="{% static 'courses/js/switch.js' %}"></script>
		<script src="{% static 'courses/js/script.js' %}"></script>

	</body>
	</html>