<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	{% block addmeta %}{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>

	<link rel="stylesheet" href="{% static 'courses/css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'courses/css/fontawesome-all.css' %}">
	<link rel="stylesheet" href="{% static 'courses/css/flaticon.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'courses/css/meanmenu.css' %}">
	<link rel="stylesheet" href="{% static 'courses/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'courses/css/video.min.css' %}">
	<link rel="stylesheet" href="{% static 'courses/css/lightbox.css' %}">
	<link rel="stylesheet" href="{% static 'courses/css/progess.css' %}">
	{% block addlink %}{% endblock %}
	<link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'courses/css/responsive.css' %}">
	<link rel="stylesheet"  href="{% static 'courses/css/colors/switch.css' %}">
	<link href="{% static 'courses/css/colors/color-2.css' %}" rel="alternate stylesheet" type="text/css" title="color-2">
	<link href="{% static 'courses/css/colors/color-3.css' %}" rel="alternate stylesheet" type="text/css" title="color-3">
	<link href="{% static 'courses/css/colors/color-4.css' %}" rel="alternate stylesheet" type="text/css" title="color-4">
	<link href="{% static 'courses/css/colors/color-5.css' %}" rel="alternate stylesheet" type="text/css" title="color-5">
	<link href="{% static 'courses/css/colors/color-6.css' %}" rel="alternate stylesheet" type="text/css" title="color-6">
	<link href="{% static 'courses/css/colors/color-7.css' %}" rel="alternate stylesheet" type="text/css" title="color-7">
	<link href="{% static 'courses/css/colors/color-8.css' %}" rel="alternate stylesheet" type="text/css" title="color-8">
	<link href="{% static 'courses/css/colors/color-9.css' %}" rel="alternate stylesheet" type="text/css" title="color-9">
	{% block style_override %}{% endblock %}
</head>

<body>

	<div id="preloader"></div>


	<div id="switch-color" class="color-switcher">
		<div class="open"><i class="fas fa-cog fa-spin"></i></div>
		<h4>COLOR OPTION</h4>
		<ul>
			<li><a class="color-2" onclick="setActiveStyleSheet('color-2'); return true;" href="{% url 'home' %}#!"><i class="fas fa-circle"></i></a> </li>
			<li><a class="color-3" onclick="setActiveStyleSheet('color-3'); return true;" href="{% url 'home' %}#!"><i class="fas fa-circle"></i></a> </li>
			<li><a class="color-4" onclick="setActiveStyleSheet('color-4'); return true;" href="{% url 'home' %}#!"><i class="fas fa-circle"></i></a> </li>
			<li><a class="color-5" onclick="setActiveStyleSheet('color-5'); return true;" href="{% url 'home' %}#!"><i class="fas fa-circle"></i></a> </li>
			<li><a class="color-6" onclick="setActiveStyleSheet('color-6'); return true;" href="{% url 'home' %}#!"><i class="fas fa-circle"></i></a> </li>
			<li><a class="color-7" onclick="setActiveStyleSheet('color-7'); return true;" href="{% url 'home' %}#!"><i class="fas fa-circle"></i></a> </li>
			<li><a class="color-8" onclick="setActiveStyleSheet('color-8'); return true;" href="{% url 'home' %}#!"><i class="fas fa-circle"></i></a> </li>
			<li><a class="color-9" onclick="setActiveStyleSheet('color-9'); return true;" href="{% url 'home' %}#!"><i class="fas fa-circle"></i></a> </li>
		</ul>
		<button class="switcher-light">WIDE </button>
		<button class="switcher-dark">BOX </button>
	</div>


	<!-- Start of Header section
		============================================= -->
		<header>
			<div id="main-menu"  class="main-menu-container">
				<div  class="main-menu">
					<div class="container">
						<div class="navbar-default">
							<div class="navbar-header float-left">
								<a class="navbar-brand text-uppercase" href="{% url 'home' %}"><img src="{% static 'courses/img/logo/oksa-studio-logo.png' %}" alt="logo"></a>
							</div>
							<nav class="navbar-menu float-right">
								<div class="nav-menu ul-li">
									<ul>
										<li class="menu-item-has-children ul-li-block">
											<a href="{% url 'home' %}">Главная</a>
										</li>
										<li><a href="{% url 'home' %}#about-us">О нас</a></li>
										<li><a href="{% url 'home' %}#contact-area">Контакты</a></li>
										<li><a href="{% url 'course' %}">Курсы</a></li>
										<li style="color: white; font-style: italic; background: #996aff; padding: 1px 5px 1px 5px; margin: 0 0 0 5px; border-radius: 5px; font-weight: bold;">
											{{ phone_number_readable }}
										</li>
									</ul>
								</div>
							</nav>

							<div class="mobile-menu">
								<div class="logo"><a href="{% url 'home' %}"><img src="{% static 'courses/img/logo/logo.png' %}" alt="Logo"></a></div>
								<nav>
									<ul>
										<li><a href="{% url 'home' %}">Главная</a></li>
										<li><a href="{% url 'home' %}#about-us">О нас</a></li>
										<li><a href="{% url 'home' %}#contact-area">Контакты</a></li>
										<li><a href="{% url 'course' %}">Курсы</a></li>
									</ul>
								</nav>

							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
<!-- Start of Header section
	============================================= -->

	{% block content %}
  	{% endblock %}

	<!-- Start of footer section
		============================================= -->
		<footer>
			<section id="footer-area" class="footer-area-section">
				<div class="container">
					<div class="footer-content pb10">
						<div class="row">
							<div class="col-md-3">
								<div class="footer-widget "  >
									<div class="footer-logo mb35">
										<img src="{% static 'courses/img/logo/oksa-studio-futer-logo.png' %}" alt="logo">
									</div>
									<div class="footer-about-text">
										<p>Хочешь стать успешным лэшмейкером и иметь стабильный заработок?<br>Хочешь заниматься интересным и перспективным делом?</p>
										<p>Присоединяйся и у тебя все получится! </p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="footer-widget "  >
									<h2 class="widget-title">Фото с курсов</h2>
									<div class="photo-list ul-li">
										<ul>
											{% for photo in random_images %}
												<li>
													<img src="{{ photo.image_preview.url }}" alt="" style="height: {{ height_picture }}px;">
													<div class="blakish-overlay"></div>
													<div class="pop-up-icon">
														<a href="{{ photo.image.url }}" data-lightbox="roadtrip"><i class="fas fa-search"></i></a>
													</div>
												</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="footer-widget "  >
									<div class="footer-menu ul-li-block">
										<h2 class="widget-title">Полезные ссылки</h2>
										<ul>
											<li><a href="{% url 'home' %}#about-us"><i class="fas fa-caret-right"></i>О нас</a></li>
											<li><a href="{% url 'program_details' slug='klassicheskoe-narashivanie' %}"><i class="fas fa-caret-right"></i>Базовый курс</a></li>
											<li><a href="{% url 'program_details' slug='obemnoe-narashivanie' %}"><i class="fas fa-caret-right"></i>Объемное наращивание</a></li>
											<li><a href="{% url 'program_details' slug='effekty-v-narashivanii' %}"><i class="fas fa-caret-right"></i>Эффекты наращивания</a></li>
											<li><a href="{% url 'program_details' slug='prakticheskoe-soprovozhdenie' %}"><i class="fas fa-caret-right"></i>Практика</a></li>
											<li><a href="https://t.me/{{ tg_bot_name }}"><i class="fas fa-caret-right"></i>Oksa Studio Bot</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div> 
					<!-- /footer-widget-content -->
					<div class="footer-social-subscribe mb65" id="footer_oksa_studio">
						<div class="row">
							<div class="col-md-3">
								<div class="footer-social ul-li "  >
									<h2 class="widget-title">Мы в соцсетях</h2>
									<ul>
										<li><a href="https://vk.com/club{{ vk_group_id }}" target="_blank"><i class="fab fa-vk"></i></a></li>
										<li><a href="https://t.me/{{ tg_bot_name }}" target="_blank"><i class="fab fa-telegram"></i></a></li>
										<li><a href="https://www.youtube.com/channel/{{ youtube_chanel_id }}/featured" target="_blank"><i class="fab fa-youtube"></i></a></li>
										<li><a href="viber://add?number={{ phone_number }}" target="_blank"><i class="fab fa-viber"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-9">
								<div class="subscribe-form "  >
									<h2 class="widget-title">Будь в курсе:</h2>

									<div class="subs-form relative-position">
										<form action="#footer_oksa_studio" method="post">{% csrf_token %}
											{{ subscribe_form.email }}
											<input type="hidden" name="type_form" value="subscribe">
											<div class="nws-button text-center  gradient-bg text-uppercase">
												<button type="submit" value="Submit">Подпишись сейчас</button>
											</div>
										</form>
										{% if footer_form %}
										{% for message in messages %}
										<div class="message {{ message.tags }}" style="color: red">{{ message }}</div>
										{% endfor %}
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="copy-right-menu">
						<div class="row">
							<div class="col-md-6">
								<div class="copy-right-text">
									<p>© 2018 - Designed & Developed by Philip Mario Studio. All rights reserved</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="copy-right-menu-item float-right ul-li">
									<ul>
										<li><a href="{% url 'home' %}#">Политика конфиденциальности</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</footer>
	<!-- End of footer section
		============================================= -->


		<!-- For Js Library -->
		<script src="{% static 'courses/js/jquery-2.1.4.min.js' %}"></script>
		<script src="{% static 'courses/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'courses/js/popper.min.js' %}"></script>
		<script src="{% static 'courses/js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'courses/js/jarallax.js' %}"></script>
		<script src="{% static 'courses/js/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'courses/js/lightbox.js' %}"></script>
		<script src="{% static 'courses/js/jquery.meanmenu.js' %}"></script>
		<script src="{% static 'courses/js/scrollreveal.min.js' %}"></script>
		<script src="{% static 'courses/js/jquery.counterup.min.js' %}"></script>
		<script src="{% static 'courses/js/waypoints.min.js' %}"></script>
		<script src="{% static 'courses/js/jquery-ui.js' %}"></script>
		<script src="{% static 'courses/js/gmap3.min.js' %}"></script>
		<script src="{% static 'courses/js/switch.js' %}"></script>
		<script src="{% static 'courses/js/script.js' %}"></script>

	</body>
	</html>