{% extends "courses/base.html" %}
{% load static %}
{% block title %}Course details{% endblock %}
{% block content %}


	<!-- Start of breadcrumb section
		============================================= -->
		<section id="breadcrumb" class="breadcrumb-section relative-position backgroud-style">
			<div class="blakish-overlay"></div>
			<div class="container">
				<div class="page-breadcrumb-content text-center">
					<div class="page-breadcrumb-title">
						<h2 class="breadcrumb-head black bold"><span>{{ course.name }}</span></h2>
					</div>
				</div>
			</div>
		</section>
	<!-- End of breadcrumb section
		============================================= -->


	<!-- Start of course details section
		============================================= -->
		<section id="course-details" class="course-details-section">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="course-details-item">
							<div class="about-gallery">
								{% for image in images %}
									{% if image.number == 1 %}
										<div class="about-gallery-img grid-1">
											<img src="{{ image.url }}" alt="">
										</div>
									{% elif image.number < 4 %}
										<div class="about-gallery-img grid-2">
											<img src="{{ image.url }}" alt="">
										</div>
									{% endif %}
								{% endfor %}
							</div>

							<div class="course-single-text">
								<div class="course-title mt10 headline relative-position">
									<h3><a href="/#"><b>{{ course.name }}</b></a></h3>
								</div>
								<div class="course-details-content">
									{% autoescape off %}{{ course.description }}{% endautoescape %}
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="side-bar">
							<div class="couse-feature ul-li-block">
								<ul>
									<li>Лектор : <span>{{ course.lecture }}</span></li>
									<li>Дата : <span>{{ date }}</span></li>
									<li>Участников : <span>{{ participants }}</span></li>
									<li>Продолжительность : <span>{{ course.duration }} д.</span></li>
									<li>Кофе-брэйк : <span>Включен</span></li>
								</ul>
							</div>
							<div class="side-bar-widget" style="margin: 50px 0px;">
								<div class="register-fomr-title text-center">
									<h3 class="bold-font" style="font-size: 25px;color: black; margin-bottom: 30px;"><span>Ваша заявка</span></h3>
								</div>
								<div class="register-form-area">
									<form class="contact_form" action="" method="post" enctype="multipart/form-data">
										{% csrf_token %}
										<div class="contact-info" style="margin-top: 10px;">
											{{ form.name }}
										</div>
										<div class="contact-info" style="margin-top: 10px;">
											{{ form.phone }}
										</div>
										<div class="contact-info" style="margin-top: 10px;">
											{{ form.email }}
										</div>
										<input type="hidden" name="type_form" value="registration">
										<div class="nws-button text-uppercase text-center white text-capitalize" style="margin-top: 30px;">
											<button type="submit" value="Submit">ОТПРАВИТЬ</button>
										</div>
									</form>
									{% if not footer_form %}
									{% for message in messages %}
										<div class="message {{ message.tags }}" style="color: red">{{ message }}</div>
									{% endfor %}
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- End of course details section
		============================================= -->

{% endblock %}
