{% extends "courses/base.html" %}
{% load static %}
{% block title %}Course details{% endblock %}
{% block content %}


	<!-- Start of breadcrumb section
		============================================= -->
		<section id="breadcrumb" class="breadcrumb-section relative-position backgroud-style">
			<div class="blakish-overlay"></div>
			<div class="container">
				<div class="page-breadcrumb-content text-center">
					<div class="page-breadcrumb-title">
						<h2 class="breadcrumb-head black bold"><span>{{ course.name }}</span></h2>
					</div>
				</div>
			</div>
		</section>
	<!-- End of breadcrumb section
		============================================= -->


	<!-- Start of course details section
		============================================= -->
		<section id="course-details" class="course-details-section">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="course-details-item">
							<div class="about-gallery">
								{% for image in images %}
									{% if image.number == 1 %}
										<div class="about-gallery-img grid-1">
											<img src="{{ image.url }}" alt="">
										</div>
									{% elif image.number < 4 %}
										<div class="about-gallery-img grid-2">
											<img src="{{ image.url }}" alt="">
										</div>
									{% endif %}
								{% endfor %}
							</div>

							<div class="course-single-text">
								<div class="course-title mt10 headline relative-position">
									<h3><a href="/#"><b>{{ course.name }}</b></a></h3>
								</div>
								<div class="course-details-content">
									{% autoescape off %}{{ course.description }}{% endautoescape %}
								</div>
							</div>
						</div>
						<!-- /course-details -->

						<div class="couse-comment">
							<div class="blog-comment-area ul-li about-teacher-2">
								<ul class="comment-list">
									<li>
										<div class="author-name-rate">
											<div class="author-name float-left">
												BY: <span>FRANK LAMPARD</span> 
											</div>
											<div class="comment-ratting float-right ul-li">
												<ul>
													<li><i class="fas fa-star"></i></li>
													<li><i class="fas fa-star"></i></li>
													<li><i class="fas fa-star"></i></li>
													<li><i class="fas fa-star"></i></li>
													<li><i class="fas fa-star"></i></li>
												</ul>
											</div>
											<div class="time-comment float-right">3 Days ago</div>
										</div>
										<div class="author-designation-comment">
											<h3>Great Course!! Recommended for Everyone</h3>
											<p>
												Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
											</p>
										</div>
									</li>

									<li>
										<div class="author-name-rate">
											<div class="author-name float-left">
												BY: <span>FRANK LAMPARD</span> 
											</div>
											<div class="comment-ratting float-right ul-li">
												<ul>
													<li><i class="fas fa-star"></i></li>
													<li><i class="fas fa-star"></i></li>
													<li><i class="fas fa-star"></i></li>
													<li><i class="fas fa-star"></i></li>
													<li><i class="fas fa-star"></i></li>
												</ul>
											</div>
											<div class="time-comment float-right">3 Days ago</div>
										</div>
										<div class="author-designation-comment">
											<h3>Great Course!! Recommended for Everyone</h3>
											<p>
												Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
											</p>
										</div>
									</li>
								</ul>

								<div class="reply-comment-box">
									<div class="review-option">
										<div class="section-title-2  headline text-left float-left">
											<h2>Add  <span>Reviews.</span></h2>
										</div>
										<div class="review-stars-item float-right mt15">
											<span>Your Rating: </span>
											<form class="rating">
												<label>
													<input type="radio" name="stars" value="1" />
													<span class="icon"><i class="fas fa-star"></i></span>
												</label>
												<label>
													<input type="radio" name="stars" value="2" />
													<span class="icon"><i class="fas fa-star"></i></span>
													<span class="icon"><i class="fas fa-star"></i></span>
												</label>
												<label>
													<input type="radio" name="stars" value="3" />
													<span class="icon"><i class="fas fa-star"></i></span>
													<span class="icon"><i class="fas fa-star"></i></span>
													<span class="icon"><i class="fas fa-star"></i></span>   
												</label>
												<label>
													<input type="radio" name="stars" value="4" />
													<span class="icon"><i class="fas fa-star"></i></span>
													<span class="icon"><i class="fas fa-star"></i></span>
													<span class="icon"><i class="fas fa-star"></i></span>
													<span class="icon"><i class="fas fa-star"></i></span>
												</label>
												<label>
													<input type="radio" name="stars" value="5" />
													<span class="icon"><i class="fas fa-star"></i></span>
													<span class="icon"><i class="fas fa-star"></i></span>
													<span class="icon"><i class="fas fa-star"></i></span>
													<span class="icon"><i class="fas fa-star"></i></span>
													<span class="icon"><i class="fas fa-star"></i></span>
												</label>
											</form>
										</div>
									</div>
									<div class="teacher-faq-form">
										<form method="POST" action="https://jthemes.net/no-form" data-lead="Residential">
											<div class="row">
												<div class="col-md-6">
													<label for="name">Your Name</label>
													<input type="text" name="name" id="name" required="required">
												</div>
												<div class="col-md-6">
													<label for="phone">Email Address</label>
													<input type="tel" name="phone" id="phone" required="required">
												</div>
											</div>
											<label for="comments">Message</label>
											<textarea name="comments" id="comments" rows="2" cols="20" required="required"></textarea>
											<div class="nws-button text-center  gradient-bg text-uppercase">
												<button type="submit" value="Submit">Send Message now</button> 
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="side-bar">
							<div class="couse-feature ul-li-block">
								<ul>
									<li>Лектор <span>{{ course.lecture }}</span></li>
									<li>Дата<span>{{ date }}</span></li>
									<li>Участников  <span>{{ participants }}</span></li>
									<li>Продолжительность <span>{{ course.duration }} д.</span></li>
									<li>Кофе-брэйк  <span>Включен</span></li>
								</ul>
							</div>
							<div class="side-bar-widget" style="margin: 80px 0px;">
								<div class="register-fomr-title text-center">
									<h3 class="bold-font" style="font-size: 25px;color: black;"><span>Ваша заявка</span></h3>
								</div>
								<div class="register-form-area">
									<form class="contact_form" action="" method="post" enctype="multipart/form-data">
										{% csrf_token %}
										<div class="contact-info" style="margin-top: 10px;">
											{{ form.name }}
										</div>
										<div class="contact-info" style="margin-top: 10px;">
											{{ form.phone }}
										</div>
										<div class="contact-info" style="margin-top: 10px;">
											{{ form.email }}
										</div>
										<input type="hidden" name="type_form" value="registration">
										<div class="nws-button text-uppercase text-center white text-capitalize" style="margin-top: 30px;">
											<button type="submit" value="Submit">ОТПРАВИТЬ</button>
										</div>
									</form>
									{% if not footer_form %}
									{% for message in messages %}
										<div class="message {{ message.tags }}" style="color: red">{{ message }}</div>
									{% endfor %}
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- End of course details section
		============================================= -->

{% endblock %}
