{% extends "courses/base.html" %}
{% load static %}
{% block title %}Обучение наращиванию ресниц{% endblock %}
{% block addmeta %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% endblock %}
{% block addlink %}
<link rel="stylesheet" href="{% static 'courses/css/animate.min.css' %}">
{% endblock %}
{% block content %}
	<!-- Start of slider section
		============================================= -->
		<section id="slide" class="slider-section">
			<div id="slider-item" class="slider-item-details">
				<div  class="slider-area slider-bg-1 relative-position">
					<div class="slider-text">
						<div class="section-title mb20 headline text-center ">
							<div class="layer-1-1">
								<span class="subtitle text-uppercase">EDUCATION & TRAINING ORGANIZATION</span>
							</div>
							<div class="layer-1-3">
								<h2><span>Inventive</span> Solution <br> for <span>Education</span></h2>
							</div>
						</div>
						<div class="layer-1-4">
							<div id="course-btn">
								<div class="genius-btn  text-center text-uppercase ul-li-block bold-font">
									<a href="{% url 'course' %}">Our Courses <i class="fas fa-caret-right"></i></a>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="slider-area slider-bg-2 relative-position">
					<div class="slider-text">
						<div class="section-title mb20 headline text-center ">
							<div class="layer-1-1">
								<span class="subtitle text-uppercase">EDUCATION & TRAINING ORGANIZATION</span>
							</div>
							<div class="layer-1-2">
								<h2 class="secoud-title"> Browse The <span>Best Courses.</span></h2>
							</div>
						</div>
						<div class="layer-1-3">
							<div class="search-course mb30 relative-position">
								<form action="{% url 'home' %}#" method="post">
									<input class="course" name="course" type="text" placeholder="Type what do you want to learn today?">
									<div class="nws-button text-center  gradient-bg text-capitalize">
										<button type="submit" value="Submit">Search Course</button>
									</div>
								</form>
							</div>
							<div class="layer-1-4">
								<div class="slider-course-category ul-li text-center">
									<span class="float-left">BY CATEGORY:</span>
									<ul>
										<li>Graphics Design</li>
										<li>Web Design</li>
										<li>Mobile Application</li>
										<li>Enginering</li>
										<li>Science</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slider-area slider-bg-3 relative-position">
					<div class="slider-text">
						<div class="layer-1-2">
							<div class="coming-countdown ul-li">
								<ul>
									<li class="days">
										<span class="number"></span>
										<span class>Days</span>
									</li>

									<li class="hours">
										<span class="number"></span>
										<span class>Hours</span>
									</li>

									<li class="minutes">
										<span class="number"></span>
										<span class>Minutes</span>
									</li>

									<li class="seconds">
										<span class="number"></span>
										<span class>Seconds</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="section-title mb20 headline text-center ">
							<div class="layer-1-3">
								<h2 class="third-slide"> Mobile Application Experiences : <br> <span>Mobile App Design.</span></h2>
							</div>
						</div>
						<div class="layer-1-4">
							<div class="about-btn text-center">
								<div class="genius-btn text-center text-uppercase ul-li-block bold-font">
									<a href="{% url 'home' %}#">About Us <i class="fas fa-caret-right"></i></a>
								</div>
								<div class="genius-btn text-center text-uppercase ul-li-block bold-font">
									<a href="{% url 'home' %}#">contact us <i class="fas fa-caret-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slider-area slider-bg-4 relative-position">
					<div class="slider-text">
						<div class="section-title mb20 headline text-center ">
							<span class="subtitle text-uppercase">EDUCATION & TRAINING ORGANIZATION</span>
							<h2 class=""  ><span>Inventive</span> Solution <br> for <span>Education</span></h2>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- End of slider section
		============================================= -->


	<!-- Start popular course
		============================================= -->
		<section id="popular-course" class="popular-course-section">
			<div class="container">
				<div class="section-title mb45 headline text-center"  >
					<span class="subtitle text-uppercase">LEARN NEW SKILLS</span>
					<h2><span>Наши</span> программы</h2>
				</div>
				<div id="course-slide-item" class="course-slide">
					{% for program in programs %}
						<div class="course-item-pic-text " >
							<a href="{% url 'program_details' program.slug %}">
								<div class="course-pic relative-position mb25">
									<img src="{{ program.image.url }}" alt="">
									<div class="course-details-btn">
										<a href="{% url 'program_details' program.slug %}">ПОДРОБНЕЕ <i class="fas fa-arrow-right"></i></a>
									</div>
								</div>
							</a>
							<div class="course-item-text">
								<div class="course-meta">
									<span class="course-category bold-font"><a href="{% url 'program_details' program.slug %}">Eyelash extension</a></span>
									<span class="course-author bold-font"><a href="{% url 'program_details' program.slug %}">Оксана Ряпина</a></span>
									<div class="course-rate ul-li">
										<ul>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
										</ul>
									</div>
								</div>
								<div class="course-title mt10 headline pb45 relative-position">
									<h3><a href="{% url 'program_details' program.slug %}">{{ program.title }}</a></h3>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
	<!-- End popular course
		============================================= -->


	<!-- Start of about us section
		============================================= -->
		<section id="about-us" class="about-us-section">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<div class="about-resigter-form backgroud-style relative-position">
							<div class="register-content">
								<div class="register-fomr-title text-center">
									<h3 class="bold-font"><span>Оставь заявку</span> прямо сейчас</h3>
									<p>Для получения консультации</p>
								</div>
								<div class="register-form-area">
									<form class="contact_form" action="{% url 'home' %}#" method="POST" enctype="multipart/form-data">
										<div class="contact-info">
											<input class="name" name="name" type="text" placeholder="Ваше имя">
										</div>
										<div class="contact-info">
											<input class="nbm" name="nbm" type="number" placeholder="Ваш телефон">
										</div>
										<div class="contact-info">
											<input class="email" name="email" type="email" placeholder="Email">
										</div>
										<select>
											<option value="9" selected="">Выбери курс:</option>
											{% for course in courses %}
												<option value="{{ course.number }}">{{ course.instance.name }}</option>
											{% endfor %}
										</select>
										<div class="contact-info">
											<input type="text" id="datepicker" placeholder="Желаемая дата">
										</div>
										<textarea  placeholder="Сообщение"></textarea>
										<div class="nws-button text-uppercase text-center white text-capitalize">
											<button type="submit" value="Submit">ОТПРАВИТЬ</button>
										</div> 
									</form>
								</div>
							</div>
						</div>
						<div class="bg-mockup">
							<img src="{% static 'courses/img/about/phone.png' %}" alt="">
						</div>
					</div>
					<!-- /form -->

					<div class="col-md-7">
						<div class="about-us-text">
							<div class="section-title relative-position mb20 headline text-left "  >
								<span class="subtitle ml42 text-uppercase">ПОЧЕМУ ВЫБИРАЮТ НАС</span>
								<h2>Работаем с <span>2017 г.</span>
								выпустили более 1000 успешных специалистов</h2>
								<p>Обучение организовано так, чтобы после него вы смогли уже самостоятельно принимать клиентов и зарабатывать. Поэтому работаем не большими группами на результат, а не на поток</p>
							</div>
							<div class="about-content-text">
								<p class="">Лучшие наши выпускники могут стать сотрудниками Oksa Studio сразу после стажировки. Предоставляем оборудованные рабочие места и материалы. Нарабатываем индивидуальный постоянный поток клиентов</p>
								<div class="about-list mb65 ul-li-block "  >
									<ul>
										<li>Различные форматы обучения</li>
										<li>Бесплатные материалы и инструменты</li>
										<li>Поддержка после обучения</li>
										<li>Возможность трудоустройства</li>
									</ul>
								</div>
								<div class="about-btn "  >
									<div class="genius-btn gradient-bg text-center text-uppercase ul-li-block bold-font">
										<a href="{% url 'home' %}#">About Us <i class="fas fa-caret-right"></i></a>
									</div>
									<div class="genius-btn gradient-bg text-center text-uppercase ul-li-block bold-font">
										<a href="{% url 'contact' %}#">Контакты <i class="fas fa-caret-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- End of about us section
		============================================= -->


	<!-- Start of why choose us section
		============================================= -->
		<section id="why-choose-us" class="why-choose-us-section">
			<div class="jarallax  backgroud-style">
				<div class="container">
					<div class="section-title mb20 headline text-center "  >
						<span class="subtitle text-uppercase">GENIUS ADVANTAGES</span>
						<h2>Reason <span>Why Choose Genius.</span></h2>
					</div>
					<div id="service-slide-item" class="service-slide">
						<div class="service-text-icon "  >
							<div class="service-icon float-left">
								<i class="text-gradiant flaticon-maths-class-materials-cross-of-a-pencil-and-a-ruler"></i>
							</div>
							<div class="service-text">
								<h3 class="bold-font">The Power Of Education.</h3>
								<p>Lorem ipsum dolor sit amet consectuerer adipiscing elit set diam nonnumynibh euismod tincidun laoreet.</p>
							</div>
						</div>
						<div class="service-text-icon "  >
							<div class="service-icon float-left">
								<i class="text-gradiant flaticon-clipboard-with-pencil"></i>
							</div>
							<div class="service-text">
								<h3 class="bold-font">Best Online Education.</h3>
								<p>Lorem ipsum dolor sit amet consectuerer adipiscing elit set diam nonnumynibh euismod tincidun laoreet.</p>
							</div>
						</div>
						<div class="service-text-icon "  >
							<div class="service-icon float-left">
								<i class="text-gradiant flaticon-list"></i>
							</div>
							<div class="service-text">
								<h3 class="bold-font">Education For All Student.</h3>
								<p>Lorem ipsum dolor sit amet consectuerer adipiscing elit set diam nonnumynibh euismod tincidun laoreet.</p>
							</div>
						</div>
						<div class="service-text-icon "  >
							<div class="service-icon float-left">
								<i class="text-gradiant flaticon-maths-class-materials-cross-of-a-pencil-and-a-ruler"></i>
							</div>
							<div class="service-text">
								<h3 class="bold-font">The Power Of Education.</h3>
								<p>Lorem ipsum dolor sit amet consectuerer adipiscing elit set diam nonnumynibh euismod tincidun laoreet.</p>
							</div>
						</div>
						<div class="service-text-icon">
							<div class="service-icon float-left">
								<i class="text-gradiant flaticon-clipboard-with-pencil"></i>
							</div>
							<div class="service-text">
								<h3 class="bold-font">Best Online Education.</h3>
								<p>Lorem ipsum dolor sit amet consectuerer adipiscing elit set diam nonnumynibh euismod tincidun laoreet.</p>
							</div>
						</div>
						<div class="service-text-icon">
							<div class="service-icon float-left">
								<i class="text-gradiant flaticon-list"></i>
							</div>
							<div class="service-text">
								<h3 class="bold-font">Education For All Student.</h3>
								<p>Lorem ipsum dolor sit amet consectuerer adipiscing elit set diam nonnumynibh euismod tincidun laoreet.</p>
							</div>
						</div>
						<div class="service-text-icon">
							<div class="service-icon float-left">
								<i class="text-gradiant flaticon-maths-class-materials-cross-of-a-pencil-and-a-ruler"></i>
							</div>
							<div class="service-text">
								<h3 class="bold-font">The Power Of Education.</h3>
								<p>Lorem ipsum dolor sit amet consectuerer adipiscing elit set diam nonnumynibh euismod tincidun laoreet.</p>
							</div>
						</div>
						<div class="service-text-icon">
							<div class="service-icon float-left">
								<i class="text-gradiant flaticon-clipboard-with-pencil"></i>
							</div>
							<div class="service-text">
								<h3 class="bold-font">Best Online Education.</h3>
								<p>Lorem ipsum dolor sit amet consectuerer adipiscing elit set diam nonnumynibh euismod tincidun laoreet.</p>
							</div>
						</div>
						<div class="service-text-icon">
							<div class="service-icon float-left">
								<i class="text-gradiant flaticon-list"></i>
							</div>
							<div class="service-text">
								<h3 class="bold-font">Education For All Student.</h3>
								<p>Lorem ipsum dolor sit amet consectuerer adipiscing elit set diam nonnumynibh euismod tincidun laoreet.</p>
							</div>
						</div>
					</div>
					<!-- /service-slide -->
					<div  class="testimonial-slide">
						<div class="section-title-2 mb65 headline text-left "  >
							<h2>Students <span>Testimonial.</span></h2>
						</div>

						<div id="testimonial-slide-item" class="testimonial-slide-area">
							<div class="student-qoute "  >
								<p>“This was our first time lorem ipsum and we <b> were very pleased with the whole experience</b>. Your price was lower than other companies. Our experience was good from start to finish, so we’ll be back in the future lorem ipsum diamet.”</p>
								<div class="student-name-designation">
									<span class="st-name bold-font">Robertho Garcia </span>
									<span class="st-designation">Graphic Designer</span>
								</div>
							</div>

							<div class="student-qoute "  >
								<p>“This was our first time lorem ipsum and we <b> were very pleased with the whole experience</b>. Your price was lower than other companies. Our experience was good from start to finish, so we’ll be back in the future lorem ipsum diamet.”</p>
								<div class="student-name-designation">
									<span class="st-name bold-font">Robertho Garcia </span>
									<span class="st-designation">Graphic Designer</span>
								</div>
							</div>

							<div class="student-qoute "  >
								<p>“This was our first time lorem ipsum and we <b> were very pleased with the whole experience</b>. Your price was lower than other companies. Our experience was good from start to finish, so we’ll be back in the future lorem ipsum diamet.”</p>
								<div class="student-name-designation">
									<span class="st-name bold-font">Robertho Garcia </span>
									<span class="st-designation">Graphic Designer</span>
								</div>
							</div>

							<div class="student-qoute">
								<p>“This was our first time lorem ipsum and we <b> were very pleased with the whole experience</b>. Your price was lower than other companies. Our experience was good from start to finish, so we’ll be back in the future lorem ipsum diamet.”</p>
								<div class="student-name-designation">
									<span class="st-name bold-font">Robertho Garcia </span>
									<span class="st-designation">Graphic Designer</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- End of why choose us section
		============================================= -->


	<!-- Start latest section
		============================================= -->
		<section id="latest-area" class="latest-area-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="latest-area-content  " >
							<div class="section-title-2 mb65 headline text-left">
								<h2>Latest <span>News.</span></h2>
							</div>
							<div class="latest-news-posts">
								<div class="latest-news-area">
									<div class="latest-news-thumbnile relative-position">
										<img src="{% static 'courses/img/blog/lb-1.jpg' %}" alt="">
										<div class="hover-search">
											<i class="fas fa-search"></i>
										</div>
										<div class="blakish-overlay"></div>
									</div>
									<div class="date-meta">
										<i class="fas fa-calendar-alt"></i> 26 April 2018
									</div>
									<h3 class="latest-title bold-font"><a href="{% url 'home' %}#">Affiliate Marketing A Beginner’s Guide.</a></h3>
									<div class="course-viewer ul-li">
										<ul>
											<li><a href="{% url 'home' %}"><i class="fas fa-user"></i> 1.220</a></li>
											<li><a href="{% url 'home' %}"><i class="fas fa-comment-dots"></i> 1.015</a></li>
										</ul>
									</div>
								</div>
								<!-- /post -->

								<div class="latest-news-posts">
									<div class="latest-news-area">
										<div class="latest-news-thumbnile relative-position">
											<img src="{% static 'courses/img/blog/lb-2.jpg' %}" alt="">
											<div class="hover-search">
												<i class="fas fa-search"></i>
											</div>
											<div class="blakish-overlay"></div>
										</div>
										<div class="date-meta">
											<i class="fas fa-calendar-alt"></i> 26 April 2018
										</div>
										<h3 class="latest-title bold-font"><a href="{% url 'home' %}#">No.1 The Best Online Course 2018.</a></h3>
										<div class="course-viewer ul-li">
											<ul>
												<li><a href="{% url 'home' %}"><i class="fas fa-user"></i> 1.220</a></li>
												<li><a href="{% url 'home' %}"><i class="fas fa-comment-dots"></i> 1.015</a></li>
											</ul>
										</div>
									</div>
									<!-- /post -->
								</div>

								<div class="view-all-btn bold-font">
									<a href="{% url 'home' %}#">View All News <i class="fas fa-chevron-circle-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<!-- /latest-news -->
					<div class="col-md-4">
						<div class="latest-area-content " >
							<div class="section-title-2 mb65 headline text-left">
								<h2>Upcoming <span>Events.</span></h2>
							</div>
							<div class="latest-events">
								<div class="latest-event-item">
									<div class="events-date  relative-position text-center">
										<div class="gradient-bdr"></div>
										<span class="event-date bold-font">22</span>
										April 2018
									</div>
									<div class="event-text">
										<h3 class="latest-title bold-font"><a href="{% url 'home' %}#">Fully Responsive Web Design & Development.</a></h3>
										<div class="course-meta">
											<span class="course-category"><a href="{% url 'home' %}#">Web Design</a></span>
											<span class="course-author"><a href="{% url 'home' %}#">Koke</a></span>
										</div>
									</div>
								</div>
							</div>

							<div class="latest-events">
								<div class="latest-event-item">
									<div class="events-date  relative-position text-center">
										<div class="gradient-bdr"></div>
										<span class="event-date bold-font">07</span>
										August 2018
									</div>
									<div class="event-text">
										<h3 class="latest-title bold-font"><a href="{% url 'home' %}#">Introduction to Mobile Application Development.</a></h3>
										<div class="course-meta">
											<span class="course-category"><a href="{% url 'home' %}#">Web Design</a></span>
											<span class="course-author"><a href="{% url 'home' %}#">Koke</a></span>
										</div>
									</div>
								</div>
							</div>

							<div class="latest-events">
								<div class="latest-event-item">
									<div class="events-date  relative-position text-center">
										<div class="gradient-bdr"></div>
										<span class="event-date bold-font">30</span>
										Sept 2018
									</div>
									<div class="event-text">
										<h3 class="latest-title bold-font"><a href="{% url 'home' %}#">IOS Apps Programming & Development.</a></h3>
										<div class="course-meta">
											<span class="course-category"><a href="{% url 'home' %}#">Web Design</a></span>
											<span class="course-author"><a href="{% url 'home' %}#">Koke</a></span>
										</div>
									</div>
								</div>
							</div>

							<div class="view-all-btn bold-font">
								<a  href="{% url 'home' %}#">Check Calendar   <i class="fas fa-calendar-alt"></i></a>
							</div>
						</div>
					</div>
					<!-- /events -->

					<div class="col-md-4">
						<div class="latest-area-content " >
							<div class="section-title-2 mb65 headline text-left">
								<h2>Latest <span>Video.</span></h2>
							</div>
							<div class="latest-video-poster relative-position mb20">
								<img src="{% static 'courses/img/banner/v-1.jpg' %}" alt="">
								<div class="video-play-btn text-center gradient-bg">
									<a class="popup-with-zoom-anim" href="https://www.youtube.com/watch?v=-g4TnixUdSc"><i class="fas fa-play"></i></a>
								</div>
							</div>
							<div class="vidoe-text">
								<h3 class="latest-title bold-font"><a href="{% url 'home' %}#">Learning IOS Apps in Amsterdam.</a></h3>
								<p class="mb25">Lorem ipsum dolor sit amet, consectetuer delacosta adipiscing elit, sed diam nonummy.</p>
							</div>
							<div class="view-all-btn bold-font">
								<a href="{% url 'home' %}#">View All Videos <i class="fas fa-chevron-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /. -->
				</div>
			</div>
		</section>
	<!-- End latest section
		============================================= -->



	<!-- Start of best course
		============================================= -->
		<section id="best-course" class="best-course-section">
			<div class="container">
				<div class="section-title mb45 headline text-center "  >
					<span class="subtitle text-uppercase">ВЫБЕРИ СВОЙ КУРС</span>
					<h2>Расписание<span> курсов</span></h2>
				</div>
				<div class="best-course-area mb45">
					<div class="row">
						{% for course in courses %}
							<div class="col-md-4">
								<div class="best-course-pic-text relative-position "  >
									<div class="best-course-pic relative-position">
										<img src="{{ course.image_url }}" alt="">
										<div class="course-price text-center gradient-bg">
											<span>{{ course.date }}</span>
										</div>
										<div class="course-rate ul-li">
											<ul>
												<li><i class="fas fa-star"></i></li>
												<li><i class="fas fa-star"></i></li>
												<li><i class="fas fa-star"></i></li>
												<li><i class="fas fa-star"></i></li>
												<li><i class="fas fa-star"></i></li>
											</ul>
										</div>
										<div class="course-details-btn">
											<a href="{% url 'course_details' course.instance.slug course.lecturer course.date_slug %}">ПОДРОБНЕЕ <i class="fas fa-arrow-right"></i></a>
										</div>
										<a href="{% url 'course_details' course.instance.slug course.lecturer course.date_slug %}">
											<div class="blakish-overlay"></div>
										</a>
									</div>
									<div class="best-course-text">
										<div class="course-title mb20 headline relative-position">
											<h3><a href="{% url 'course_details' course.instance.slug course.lecturer course.date_slug %}">{{ course.instance.name }}</a></h3>
										</div>
										<div class="course-meta">
											<span class="course-category"><a href="{% url 'course_details' course.instance.slug course.lecturer course.date_slug %}">{{ course.instance.program }}</a></span>
											<span class="course-author"><a href="{% url 'course_details' course.instance.slug course.lecturer course.date_slug %}">{{ course.instance.duration }} д.</a></span>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
						<!-- /course -->
					</div>
				</div>
			</div>
		</section>
	<!-- End of best course
		============================================= -->

	<!-- Start of course teacher
		============================================= -->
		<section id="course-teacher" class="course-teacher-section">
			<div class="jarallax">
				<div class="container">
					<div class="section-title mb20 headline text-center "  >
						<span class="subtitle text-uppercase">OUR PROFESSIONAL</span>
						<h2>Genius Courses <span>Teachers.</span></h2>
					</div>

					<div class="teacher-list">
						<div class="row justify-content-center">
							<div class="col-md-3">
								<div class="teacher-img-content "  >
									<div class="teacher-cntent">
										<div class="teacher-social-name ul-li-block">
											<ul>
												<li><a href="{% url 'home' %}#"><i class="fab fa-facebook-f"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-twitter"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-google-plus-g"></i></a></li>
											</ul>
											<div class="teacher-name">
												<span>Daniel
												Alvares</span>
											</div>
										</div>
										<div class="teacher-img-category">
											<div class="teacher-img">
												<img src="{% static 'courses/img/teacher/t-1.jpg' %}" alt="">
												<div class="course-price text-uppercase text-center gradient-bg">
													<span>Featured</span>
												</div>
											</div>
											<div class="teacher-category float-right">
												<span class="st-name">Mobile Apps </span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /teacher -->
							<div class="col-md-3">
								<div class="teacher-img-content "  >
									<div class="teacher-cntent">
										<div class="teacher-social-name ul-li-block">
											<ul>
												<li><a href="{% url 'home' %}#"><i class="fab fa-facebook-f"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-twitter"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-google-plus-g"></i></a></li>
											</ul>
											<div class="teacher-name">
												<span>Juliana Hernandes</span>
											</div>
										</div>
										<div class="teacher-img-category">
											<div class="teacher-img">
												<img src="{% static 'courses/img/teacher/t-2.jpg' %}" alt="">
												<div class="course-price text-uppercase text-center gradient-bg">
													<span>Featured</span>
												</div>
											</div>
											<div class="teacher-category float-right">
												<span class="st-name">Mobile Apps </span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /teacher -->
							<div class="col-md-3">
								<div class="teacher-img-content "  >
									<div class="teacher-cntent">
										<div class="teacher-social-name ul-li-block">
											<ul>
												<li><a href="{% url 'home' %}#"><i class="fab fa-facebook-f"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-twitter"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-google-plus-g"></i></a></li>
											</ul>
											<div class="teacher-name">
												<span>Berliana
												Luis</span>
											</div>
										</div>
										<div class="teacher-img-category">
											<div class="teacher-img">
												<img src="{% static 'courses/img/teacher/t-3.jpg' %}" alt="">
												<div class="course-price text-uppercase text-center gradient-bg">
													<span>Featured</span>
												</div>
											</div>
											<div class="teacher-category float-right">
												<span class="st-name">IOS Apps </span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /teacher -->
							<div class="col-md-3">
								<div class="teacher-img-content "  >
									<div class="teacher-cntent">
										<div class="teacher-social-name ul-li-block">
											<ul>
												<li><a href="{% url 'home' %}#"><i class="fab fa-facebook-f"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-twitter"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-google-plus-g"></i></a></li>
											</ul>
											<div class="teacher-name">
												<span>Johansen
												Doe</span>
											</div>
										</div>
										<div class="teacher-img-category">
											<div class="teacher-img">
												<img src="{% static 'courses/img/teacher/t-4.jpg' %}" alt="">
												<div class="course-price text-uppercase text-center gradient-bg">
													<span>Featured</span>
												</div>
											</div>
											<div class="teacher-category float-right">
												<span class="st-name">Graphic </span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /teacher -->
							<div class="col-md-3">
								<div class="teacher-img-content "  >
									<div class="teacher-cntent">
										<div class="teacher-social-name ul-li-block">
											<ul>
												<li><a href="{% url 'home' %}#"><i class="fab fa-facebook-f"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-twitter"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-google-plus-g"></i></a></li>
											</ul>
											<div class="teacher-name">
												<span>Lisha
												Chambelt</span>
											</div>
										</div>
										<div class="teacher-img-category">
											<div class="teacher-img">
												<img src="{% static 'courses/img/teacher/t-6.jpg' %}" alt="">
												<div class="course-price text-uppercase text-center gradient-bg">
													<span>Featured</span>
												</div>
											</div>
											<div class="teacher-category float-right">
												<span class="st-name">Mobile Apps </span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /teacher -->
							<div class="col-md-3">
								<div class="teacher-img-content "  >
									<div class="teacher-cntent">
										<div class="teacher-social-name ul-li-block">
											<ul>
												<li><a href="{% url 'home' %}#"><i class="fab fa-facebook-f"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-twitter"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-google-plus-g"></i></a></li>
											</ul>
											<div class="teacher-name">
												<span>Checilia
												Yeoung</span>
											</div>
										</div>
										<div class="teacher-img-category">
											<div class="teacher-img">
												<img src="{% static 'courses/img/teacher/t-5.jpg' %}" alt="">
												<div class="course-price text-uppercase text-center gradient-bg">
													<span>Featured</span>
												</div>
											</div>
											<div class="teacher-category float-right">
												<span class="st-name">Mobile Apps </span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /teacher -->
							<div class="col-md-3">
								<div class="teacher-img-content "  >
									<div class="teacher-cntent">
										<div class="teacher-social-name ul-li-block">
											<ul>
												<li><a href="{% url 'home' %}#"><i class="fab fa-facebook-f"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-twitter"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-google-plus-g"></i></a></li>
											</ul>
											<div class="teacher-name">
												<span>Sean
												Fernandes</span>
											</div>
										</div>
										<div class="teacher-img-category">
											<div class="teacher-img">
												<img src="{% static 'courses/img/teacher/t-7.jpg' %}" alt="">
												<div class="course-price text-uppercase text-center gradient-bg">
													<span>Featured</span>
												</div>
											</div>
											<div class="teacher-category float-right">
												<span class="st-name">Mobile Apps </span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /teacher -->
						</div>

						<div class="genius-btn gradient-bg text-center text-uppercase ul-li-block bold-font "  >
							<a href="{% url 'home' %}#">All teacher <i class="fas fa-caret-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- End of course teacher
		============================================= -->



	<!-- Start of best product section
		============================================= -->
		<section id="best-product" class="best-product-section">
			<div class="container">
				<div class="section-title-2 mb65 headline text-left "  >
					<h2>Genius <span>Best Products.</span></h2>
				</div>
				<div id="best-product-slide-item" class="best-product-slide">
					<div class="product-img-text "  >
						<div class="product-img text-center mb20">
							<img src="{% static 'courses/img/product/bp-1.png' %}" alt="">
						</div>
						<div class="product-text-content relative-position">
							<div class="best-title-price float-left">
								<div class="course-title headline">
									<h3><a href="{% url 'home' %}#">Mobile Apps Books.</a></h3>
								</div>
								<div class="price-start">
									Start from
									<span>$55.25</span>
								</div>
							</div>
							<div class="add-cart text-center">
								<i class="fas fa-cart-plus"></i>
							</div>
						</div>
					</div>

					<div class="product-img-text "  >
						<div class="product-img text-center mb20">
							<img src="{% static 'courses/img/product/bp-2.png' %}" alt="">
						</div>
						<div class="product-text-content relative-position">
							<div class="best-title-price float-left">
								<div class="course-title headline">
									<h3><a href="{% url 'home' %}#">Mobile Apps Books.</a></h3>
								</div>
								<div class="price-start">
									Start from
									<span>$55.25</span>
								</div>
							</div>
							<div class="add-cart text-center">
								<i class="fas fa-cart-plus"></i>
							</div>
						</div>
					</div>
					<div class="product-img-text "  >
						<div class="product-img text-center mb20">
							<img src="{% static 'courses/img/product/bp-3.png' %}" alt="">
						</div>
						<div class="product-text-content relative-position">
							<div class="best-title-price float-left">
								<div class="course-title headline">
									<h3><a href="{% url 'home' %}#">Mobile Apps Books.</a></h3>
								</div>
								<div class="price-start">
									Start from
									<span>$55.25</span>
								</div>
							</div>
							<div class="add-cart text-center">
								<i class="fas fa-cart-plus"></i>
							</div>
						</div>
					</div>
					<div class="product-img-text "  >
						<div class="product-img text-center mb20">
							<img src="{% static 'courses/img/product/bp-4.png' %}" alt="">
						</div>
						<div class="product-text-content relative-position">
							<div class="best-title-price float-left">
								<div class="course-title headline">
									<h3><a href="{% url 'home' %}#">Mobile Apps Books.</a></h3>
								</div>
								<div class="price-start">
									Start from
									<span>$55.25</span>
								</div>
							</div>
							<div class="add-cart text-center">
								<i class="fas fa-cart-plus"></i>
							</div>
						</div>
					</div>
					<div class="product-img-text "  >
						<div class="product-img text-center mb20">
							<img src="{% static 'courses/img/product/bp-1.png' %}" alt="">
						</div>
						<div class="product-text-content relative-position">
							<div class="best-title-price float-left">
								<div class="course-title headline">
									<h3><a href="{% url 'home' %}#">Mobile Apps Books.</a></h3>
								</div>
								<div class="price-start">
									Start from
									<span>$55.25</span>
								</div>
							</div>
							<div class="add-cart text-center">
								<i class="fas fa-cart-plus"></i>
							</div>
						</div>
					</div>
					<div class="product-img-text">
						<div class="product-img text-center mb20">
							<img src="{% static 'courses/img/product/bp-2.png' %}" alt="">
						</div>
						<div class="product-text-content relative-position">
							<div class="best-title-price float-left">
								<div class="course-title headline">
									<h3><a href="{% url 'home' %}#">Mobile Apps Books.</a></h3>
								</div>
								<div class="price-start">
									Start from
									<span>$55.25</span>
								</div>
							</div>
							<div class="add-cart text-center">
								<i class="fas fa-cart-plus"></i>
							</div>
						</div>
					</div>
					<div class="product-img-text">
						<div class="product-img text-center mb20">
							<img src="{% static 'courses/img/product/bp-3.png' %}" alt="">
						</div>
						<div class="product-text-content relative-position">
							<div class="best-title-price float-left">
								<div class="course-title headline">
									<h3><a href="{% url 'home' %}#">Mobile Apps Books.</a></h3>
								</div>
								<div class="price-start">
									Start from
									<span>$55.25</span>
								</div>
							</div>
							<div class="add-cart text-center">
								<i class="fas fa-cart-plus"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- End  of best product section
		============================================= -->
		

	<!-- Start FAQ section
		============================================= -->
		<section id="faq" class="faq-section">
			<div class="container">
				<div class="section-title mb45 headline text-center "  >
					<span class="subtitle text-uppercase">GENIUS COURSE FAQ</span>
					<h2>Frequently<span> Ask & Questions</span></h2>
				</div>
				<div class="faq-tab">
					<div class="faq-tab-ques ul-li">
						<div class="tab-button text-center mb65 "  >
							<ul class="product-tab">
								<li class="active" rel="tab1">GENERAL </li>
								<li rel="tab2"> COURSES </li>
								<li rel="tab3"> TEACHERS </li>
								<li rel="tab4">  EVENTS  </li>
								<li rel="tab5">  OTHERS  </li>
							</ul>
						</div>
						<!-- /tab-head -->

						<!-- tab content -->
						<div class="tab-container">

							<!-- 1st tab -->
							<div id="tab1" class="tab-content-1 pt35">
								<div class="row">
									<div class="col-md-6">
										<div class="ques-ans mb45 headline "  >
											<h3> What is Genius Courses?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>

										<div class="ques-ans mb45 headline "  >
											<h3> What Lorem Ipsum Dolor Sit Amet Consectuerer?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>
									</div>

									<div class="col-md-6">
										<div class="ques-ans mb45 headline "  >
											<h3> How to Register or Make An Account in Genius?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>

										<div class="ques-ans mb45 headline "  >
											<h3> Adipiscing Diamet Nonnumy Nibh Euismod?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- #tab1 -->

							<div id="tab2" class="tab-content-1 pt35">
								<div class="row">
									<div class="col-md-6">
										<div class="ques-ans mb45 headline "  >
											<h3> What is Genius Courses?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>

										<div class="ques-ans mb45 headline "  >
											<h3> What Lorem Ipsum Dolor Sit Amet Consectuerer?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>
									</div>

									<div class="col-md-6">
										<div class="ques-ans mb45 headline "  >
											<h3> How to Register or Make An Account in Genius?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>

										<div class="ques-ans mb45 headline "  >
											<h3> Adipiscing Diamet Nonnumy Nibh Euismod?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- #tab2 -->

							<div id="tab3" class="tab-content-1 pt35">
								<div class="row">
									<div class="col-md-6">
										<div class="ques-ans mb45 headline">
											<h3> What is Genius Courses?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>

										<div class="ques-ans mb45 headline">
											<h3> What Lorem Ipsum Dolor Sit Amet Consectuerer?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>
									</div>

									<div class="col-md-6">
										<div class="ques-ans mb45 headline">
											<h3> How to Register or Make An Account in Genius?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>

										<div class="ques-ans mb45 headline">
											<h3> Adipiscing Diamet Nonnumy Nibh Euismod?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- #tab3 -->

							<div id="tab4" class="tab-content-1 pt35">
								<div class="row">
									<div class="col-md-6">
										<div class="ques-ans mb45 headline">
											<h3> What is Genius Courses?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>

										<div class="ques-ans mb45 headline">
											<h3> What Lorem Ipsum Dolor Sit Amet Consectuerer?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>
									</div>

									<div class="col-md-6">
										<div class="ques-ans mb45 headline">
											<h3> How to Register or Make An Account in Genius?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>

										<div class="ques-ans mb45 headline">
											<h3> Adipiscing Diamet Nonnumy Nibh Euismod?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- #tab3 -->

							<div id="tab5" class="tab-content-1 pt35">
								<div class="row">
									<div class="col-md-6">
										<div class="ques-ans mb45 headline">
											<h3> What is Genius Courses?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>

										<div class="ques-ans mb45 headline">
											<h3> What Lorem Ipsum Dolor Sit Amet Consectuerer?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>
									</div>

									<div class="col-md-6">
										<div class="ques-ans mb45 headline">
											<h3> How to Register or Make An Account in Genius?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>

										<div class="ques-ans mb45 headline">
											<h3> Adipiscing Diamet Nonnumy Nibh Euismod?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- #tab3 -->
						</div>
						<div class="view-all-btn bold-font "  >
							<a href="{% url 'home' %}#">Make a Question <i class="fas fa-chevron-circle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- End FAQ section
		============================================= -->


	<!-- Start Course category
		============================================= -->
		<section id="course-category" class="course-category-section">
			<div class="container">
				<div class="section-title mb45 headline text-center "  >
					<span class="subtitle text-uppercase">COURSES CATEGORIES</span>
					<h2>Browse Courses<span> By Category.</span></h2>
				</div>
				<div class="category-item">
					<div class="row">
						<div class="col-md-3">
							<div class="category-icon-title text-center "  >
								<div class="category-icon">
									<i class="text-gradiant flaticon-technology"></i>
								</div>
								<div class="category-title">
									<h4>Responsive Website</h4>
								</div>
							</div>
						</div>
						<!-- /category -->

						<div class="col-md-3">
							<div class="category-icon-title text-center "  >
								<div class="category-icon">
									<i class="text-gradiant flaticon-app-store"></i>
								</div>
								<div class="category-title">
									<h4>IOS Applications</h4>
								</div>
							</div>
						</div>
						<!-- /category -->

						<div class="col-md-3">
							<div class="category-icon-title text-center "  >
								<div class="category-icon">
									<i class="text-gradiant flaticon-artist-tools"></i>
								</div>
								<div class="category-title">
									<h4>Graphic Design</h4>
								</div>
							</div>
						</div>
						<!-- /category -->

						<div class="col-md-3">
							<div class="category-icon-title text-center "  >
								<div class="category-icon">
									<i class="text-gradiant flaticon-business"></i>
								</div>
								<div class="category-title">
									<h4>Marketing</h4>
								</div>
							</div>
						</div>
						<!-- /category -->

						<div class="col-md-3">
							<div class="category-icon-title text-center "  >
								<div class="category-icon">
									<i class="text-gradiant flaticon-dna"></i>
								</div>
								<div class="category-title">
									<h4>Science</h4>
								</div>
							</div>
						</div>
						<!-- /category -->

						<div class="col-md-3">
							<div class="category-icon-title text-center "  >
								<div class="category-icon">
									<i class="text-gradiant flaticon-cogwheel"></i>
								</div>
								<div class="category-title">
									<h4>Enginering</h4>
								</div>
							</div>
						</div>
						<!-- /category -->

						<div class="col-md-3">
							<div class="category-icon-title text-center "  >
								<div class="category-icon">
									<i class="text-gradiant flaticon-technology-1"></i>
								</div>
								<div class="category-title">
									<h4>Photography</h4>
								</div>
							</div>
						</div>
						<!-- /category -->

						<div class="col-md-3">
							<div class="category-icon-title text-center "  >
								<div class="category-icon">
									<i class="text-gradiant flaticon-technology-2"></i>
								</div>
								<div class="category-title">
									<h4>Mobile Application</h4>
								</div>
							</div>
						</div>
						<!-- /category -->
					</div>
				</div>
			</div>
		</section>
	<!-- End Course category
		============================================= -->


	<!-- Start of contact area
		============================================= -->
		<section id="contact-area" class="contact-area-section backgroud-style">
			<div class="container">
				<div class="contact-area-content">
					<div class="row">
						<div class="col-md-6">
							<div class="contact-left-content " >
								<div class="section-title  mb45 headline text-left">
									<span class="subtitle ml42  text-uppercase">Контакты</span>
									<h2><span>Как нас найти</span></h2>
									<p>{{ office.description }}</p>
								</div>
								<div class="contact-address">
									<div class="contact-address-details">
										<div class="address-icon relative-position text-center float-left">
											<i class="fas fa-map-marker-alt"></i>
										</div>
										<div class="address-details ul-li-block">
											<ul>
												<li>{{ office.title }}</li>
												<li>{{ office.address }}</li>
											</ul>
										</div>
									</div>

									<div class="contact-address-details">
										<div class="address-icon relative-position text-center float-left">
											<i class="fas fa-phone"></i>
										</div>
										<div class="address-details ul-li-block">
											<ul>
												<li><span>Tel/Viber/WhatsApp: </span>+7(919) 442-35-36</li>
												<li><span>Telegram: </span><a href="https://t.me/OksaStudio_bot">OksaStudioBot</a></li>
											</ul>
										</div>
									</div>

									<div class="contact-address-details">
										<div class="address-icon relative-position text-center float-left">
											<i class="fas fa-envelope"></i>
										</div>
										<div class="address-details ul-li-block">
											<ul>
												<li><span>Admin Email: </span>master@oksa-studio.ru</li>
												<li><span>Lecturer Email: </span>oksarap@mail.ru</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="genius-btn mt60 gradient-bg text-center text-uppercase ul-li-block bold-font ">
								<a href="{% url 'contact' %}#">Contact Us <i class="fas fa-caret-right"></i></a>
							</div>
						</div>

						<div class="col-md-6">
							<div id="contact-map" class="contact-map-section">
								<div id="google-map">
									<script type="text/javascript" charset="utf-8" async src="{{ src_map }}"></script>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- End of contact area
		============================================= -->
{% endblock %}