{% extends "courses/base.html" %}
{% load static %}
{% block title %}Обучение наращиванию ресниц{% endblock %}
{% block addmeta %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% endblock %}
{% block addlink %}
<link rel="stylesheet" href="{% static 'courses/css/animate.min.css' %}">
{% endblock %}
{% block content %}
	<!-- Start of slider section
		============================================= -->
		<section id="slide" class="slider-section">
			<div id="slider-item" class="slider-item-details">

				<div  class="slider-area slider-bg-1 relative-position">
					<div class="slider-text">
						<div class="section-title mb20 headline text-center ">
							<div class="layer-1-1">
								<span class="subtitle text-uppercase">ОБУЧЕНИЕ & ПРАКТИКА & РЕАЛИЗАЦИЯ</span>
							</div>
							<div class="layer-1-3">
								<h2><span>Курсы</span> Лешмейкеров <br> от практикующего <span>Мастера</span></h2>
							</div>
						</div>
						<div class="layer-1-4">
							<div id="course-btn">
								<div class="genius-btn  text-center text-uppercase ul-li-block bold-font">
									<a href="#popular-course">Наши курсы <i class="fas fa-caret-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="slider-area slider-bg-2 relative-position">
					<div class="slider-text">
						<div class="section-title mb20 headline text-center ">
							<div class="layer-1-1">
								<span class="subtitle text-uppercase">ОБУЧЕНИЕ & ПРАКТИКА & РЕАЛИЗАЦИЯ</span>
							</div>
							<div class="layer-1-2">
								<h2 class="secoud-title"> Выбери свое <span>Лучшее обучение</span></h2>
							</div>
						</div>
						<div class="layer-1-3">
							<div class="layer-1-4">
								<div class="slider-course-category ul-li text-center">
									<span class="float-left">ВЫБЕРИ СВОЙ КУРС:</span>
									<ul>
										{% for program in programs %}
										<li><a href="{% url 'program_details' program.slug %}">{{ program.title }}</a></li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="slider-area slider-bg-3 relative-position">
					<div class="slider-text">
						<div class="section-title mb20 headline text-center ">
							<div class="layer-1-1">
								<span class="subtitle text-uppercase">ОБУЧЕНИЕ & ПРАКТИКА & РЕАЛИЗАЦИЯ</span>
							</div>
							<div class="layer-1-2">
								<h2 class="secoud-title"> Самый востребованный курс : <br><span>Базовый курс с нуля</span></h2>
							</div>
						</div>
						<div class="layer-1-4">
							<div class="about-btn text-center">
								<div class="genius-btn text-center text-uppercase ul-li-block bold-font">
									<a href="/program/klassicheskoe-narashivanie/">Подробнее <i class="fas fa-caret-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
	<!-- End of slider section
		============================================= -->


	<!-- Start popular course
		============================================= -->
		{% if programs %}
		<section id="popular-course" class="popular-course-section">
			<div class="container">
				<div class="section-title mb45 headline text-center"  >
					<span class="subtitle text-uppercase">LEARN NEW SKILLS</span>
					<h2><span>Наши</span> программы</h2>
				</div>
				<div id="course-slide-item" class="course-slide">
					{% for program in programs %}
						<div class="course-item-pic-text " >
							<a href="{% url 'program_details' program.slug %}">
								<div class="course-pic relative-position mb25">
									<img src="{{ program.image.url }}" alt="">
									<div class="course-details-btn">
										<a href="{% url 'program_details' program.slug %}">ПОДРОБНЕЕ <i class="fas fa-arrow-right"></i></a>
									</div>
								</div>
							</a>
							<div class="course-item-text">
								<div class="course-meta">
									<span class="course-category bold-font"><a href="{% url 'program_details' program.slug %}">Eyelash extension</a></span>
									<span class="course-author bold-font"><a href="{% url 'program_details' program.slug %}">Оксана Ряпина</a></span>
									<div class="course-rate ul-li">
										<ul>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
										</ul>
									</div>
								</div>
								<div class="course-title mt10 headline pb45 relative-position">
									<h3><a href="{% url 'program_details' program.slug %}">{{ program.title }}</a></h3>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
		{% endif %}
	<!-- End popular course
		============================================= -->


	<!-- Start of about us section
		============================================= -->
		<section id="about-us" class="about-us-section">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<div class="about-resigter-form backgroud-style relative-position">
							<div class="register-content">
								<div class="register-fomr-title text-center">
									<h3 class="bold-font"><span>Оставь заявку</span> прямо сейчас</h3>
									<p>Для получения консультации</p>
								</div>
								<div class="register-form-area">
									<form class="contact_form" action="{% url 'home' %}#about-us" method="post" enctype="multipart/form-data">
										{% csrf_token %}
										<div class="contact-info">
											{{ form.name }}
										</div>
										<div class="contact-info">
											{{ form.phone }}
										</div>
										<div class="contact-info">
											{{ form.email }}
										</div>
										{{ form.course }}
										<div class="contact-info">
											{{ form.date }}
										</div>
										{{ form.message }}
										<input type="hidden" name="type_form" value="registration">
										<div class="nws-button text-uppercase text-center white text-capitalize">
											<button type="submit" value="Submit">ОТПРАВИТЬ</button>
										</div>
									</form>
									{% if not footer_form %}
									{% for message in messages %}
										<div class="message {{ message.tags }}" style="color: red">{{ message }}</div>
									{% endfor %}
									{% endif %}
								</div>
							</div>
						</div>
						<div class="bg-mockup">
							<img src="{% static 'courses/img/about/phone.png' %}" alt="">
						</div>
					</div>
					<!-- /form -->

					<div class="col-md-7">
						<div class="about-us-text">
							<div class="section-title relative-position mb20 headline text-left "  >
								<span class="subtitle ml42 text-uppercase">ПОЧЕМУ ВЫБИРАЮТ НАС</span>
								<h2>Работаем с <span>2017 г.</span>
								выпустили более 1000 успешных специалистов</h2>
								<p>Обучение организовано так, чтобы после него вы смогли уже самостоятельно принимать клиентов и зарабатывать. Поэтому работаем не большими группами на результат, а не на поток</p>
							</div>
							<div class="about-content-text">
								<p class="">Лучшие наши выпускники могут стать сотрудниками Oksa Studio сразу после стажировки. Предоставляем оборудованные рабочие места и материалы. Нарабатываем индивидуальный постоянный поток клиентов</p>
								<div class="about-list mb65 ul-li-block "  >
									<ul>
										<li>Различные форматы обучения</li>
										<li>Бесплатные материалы и инструменты</li>
										<li>Поддержка после обучения</li>
										<li>Возможность трудоустройства</li>
									</ul>
								</div>
								<div class="about-btn "  >
									<div class="genius-btn gradient-bg text-center text-uppercase ul-li-block bold-font">
										<a href="{% url 'home' %}#">About Us <i class="fas fa-caret-right"></i></a>
									</div>
									<div class="genius-btn gradient-bg text-center text-uppercase ul-li-block bold-font">
										<a href="{% url 'contact' %}#">Контакты <i class="fas fa-caret-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- End of about us section
		============================================= -->


	<!-- Start of why choose us section
		============================================= -->
		<section id="why-choose-us" class="why-choose-us-section">
			<div class="jarallax  backgroud-style">
				<div class="container">
					<div class="section-title mb20 headline text-center "  >
						<span class="subtitle text-uppercase">ВАШИ ПРЕИМУЩЕСТВА</span>
						<h2>Результаты <span>после обучения у нас</span></h2>
					</div>
					<div id="service-slide-item" class="service-slide">
						<div class="service-text-icon "  >
							<div class="service-icon float-left">
								<i class="text-gradiant flaticon-maths-class-materials-cross-of-a-pencil-and-a-ruler"></i>
							</div>
							<div class="service-text">
								<h3 class="bold-font">Востребованная профессия</h3>
								<p>Получите новую современную востребованную профессию, с который вы всегда сможете заработать, как бы не развивалась общая экономическая ситуация</p>
							</div>
						</div>
						<div class="service-text-icon "  >
							<div class="service-icon float-left">
								<i class="text-gradiant flaticon-clipboard-with-pencil"></i>
							</div>
							<div class="service-text">
								<h3 class="bold-font">Современные техники</h3>
								<p>Узнаете современные техники lash-мастерства, которые очень поверхностно дают в других школах. Отточите умение использовать их на практике под руководством опытного наставника</p>
							</div>
						</div>
						<div class="service-text-icon "  >
							<div class="service-icon float-left">
								<i class="text-gradiant flaticon-list"></i>
							</div>
							<div class="service-text">
								<h3 class="bold-font">Поддержка после обучения</h3>
								<p>Все выпускники после прохождения нашего курса получают возможность в любое время задавать любые вопросы по наращиванию ресниц</p>
							</div>
						</div>
						<div class="service-text-icon "  >
							<div class="service-icon float-left">
								<i class="text-gradiant flaticon-maths-class-materials-cross-of-a-pencil-and-a-ruler"></i>
							</div>
							<div class="service-text">
								<h3 class="bold-font">Трудоустройство</h3>
								<p>Лучшие наши выпускники могут стать сотрудниками Oksa Studio сразу после стажировки. Предоставляем оборудованные рабочие места и материалы</p>
							</div>
						</div>
					</div>
					<!-- /service-slide -->
					<div  class="testimonial-slide">
						<div class="section-title-2 mb65 headline text-left "  >
							<h2>Отзывы <span>студентов</span></h2>
						</div>
						<div id="testimonial-slide-item" class="testimonial-slide-area">
							<div class="student-qoute "  >
								<div class="latest-video-poster relative-position mb20 youtube-background" style="background-image: url({% static 'courses/img/banner/v-1.jpg' %});">
									<div class="video-play-btn text-center gradient-bg">
										<a class="popup-with-zoom-anim" href="https://www.youtube.com/watch?v=-dq5LWgaNds"><i class="fas fa-play"></i></a>
									</div>
								</div>
								<div class="vidoe-text">
									<p class="mb25">Lorem ipsum dolor sit amet, consectetuer delacosta adipiscing elit, sed diam nonummy.</p>
								</div>
							</div>
							<div class="student-qoute "  >
								<div class="latest-video-poster relative-position mb20 youtube-background" style="background-image: url({% static 'courses/img/banner/v-1.jpg' %});">
									<div class="video-play-btn text-center gradient-bg">
										<a class="popup-with-zoom-anim" href="https://www.youtube.com/watch?v=OAldB_70DC4"><i class="fas fa-play"></i></a>
									</div>
								</div>
								<div class="vidoe-text">
									<p class="mb25">Lorem ipsum dolor sit amet, consectetuer delacosta adipiscing elit, sed diam nonummy.</p>
								</div>
							</div>
							<div class="student-qoute "  >
								<div class="latest-video-poster relative-position mb20 youtube-background" style="background-image: url({% static 'courses/img/banner/v-1.jpg' %});">
									<div class="video-play-btn text-center gradient-bg">
										<a class="popup-with-zoom-anim" href="https://www.youtube.com/watch?v=NsX6wsMID7M"><i class="fas fa-play"></i></a>
									</div>
								</div>
								<div class="vidoe-text">
									<p class="mb25">Lorem ipsum dolor sit amet, consectetuer delacosta adipiscing elit, sed diam nonummy.</p>
								</div>
							</div>
							<div class="student-qoute "  >
								<div class="latest-video-poster relative-position mb20 youtube-background" style="background-image: url({% static 'courses/img/banner/v-1.jpg' %});">
									<div class="video-play-btn text-center gradient-bg">
										<a class="popup-with-zoom-anim" href="https://www.youtube.com/watch?v=MNnF28JJa8g"><i class="fas fa-play"></i></a>
									</div>
								</div>
								<div class="vidoe-text">
									<p class="mb25">Lorem ipsum dolor sit amet, consectetuer delacosta adipiscing elit, sed diam nonummy.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- End of why choose us section
		============================================= -->


	<!-- Start latest section
		============================================= -->
		{% if courses %}
		<section id="latest-area" class="latest-area-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="latest-area-content  " >
							<div class="section-title-2 mb65 headline text-left">
								<h2>Последние <span>Курсы </span></h2>
							</div>
							<div class="latest-news-posts">

								{% for course in past_courses %}
								{% if course.number < 4 %}
									<div class="latest-news-area">
										<div class="latest-news-thumbnile relative-position" style="height: 80px;">
											<img src="{{ course.image_url }}" alt="">
											<a href="{% url 'course_details' course.instance.slug course.lecturer course.date_slug %}">
												<div class="blakish-overlay" style="height: 100%;"></div>
											</a>
										</div>
										<div class="date-meta">
											<i class="fas fa-calendar-alt"></i> {{ course.readable_date.day }} {{ course.readable_date.month }} {{ course.readable_date.year }}
										</div>
										<h3 class="latest-title bold-font"><a href="{% url 'course_details' course.instance.slug course.lecturer course.date_slug %}">{{ course.instance.name }}</a></h3>
									</div>
								{% endif %}
								{% endfor %}
								<!-- /post -->
							</div>
						</div>
					</div>
					<!-- /latest-news -->
					<div class="col-md-4">
						<div class="latest-area-content " >
							<div class="section-title-2 mb65 headline text-left">
								<h2>Ближайшие <span>Курсы</span></h2>
							</div>
							{% for course in courses %}
							{% if course.number < 4 %}
								<div class="latest-events">
									<div class="latest-event-item">
										<div class="events-date  relative-position text-center">
											<a href="{% url 'course_details' course.instance.slug course.lecturer course.date_slug %}">
												<div class="gradient-bdr"></div>
												<span class="event-date bold-font" >{{ course.readable_date.day }}</span>
												{{ course.readable_date.month }} {{ course.readable_date.year }}
											</a>
										</div>
										<div class="event-text">
											<h3 class="latest-title bold-font"><a href="{% url 'course_details' course.instance.slug course.lecturer course.date_slug %}">{{ course.instance.name }}</a></h3>
											<div class="course-meta">
												<span class="course-category"><a>{{ course.instance.lecture }}</a></span>
												<span class="course-author"><a>{{ course.instance.duration }} д.</a></span>
											</div>
										</div>
									</div>
								</div>
							{% endif %}
							{% endfor %}

							<div class="view-all-btn bold-font">
								<a  href="{% url 'course' %}">См. все курсы <i class="fas fa-calendar-alt"></i></a>
							</div>
						</div>
					</div>
					<!-- /events -->

					<div class="col-md-4">
						<div class="latest-area-content " >
							<div class="section-title-2 mb65 headline text-left">
								<h2>Latest <span>Video.</span></h2>
							</div>
							<div class="latest-video-poster relative-position mb20">
								<img src="{% static 'courses/img/banner/v-1.jpg' %}" alt="">
								<div class="video-play-btn text-center gradient-bg">
									<a class="popup-with-zoom-anim" href="https://www.youtube.com/watch?v=5mKmiS94uGE"><i class="fas fa-play"></i></a>
								</div>
							</div>
							<div class="vidoe-text">
								<h3 class="latest-title bold-font"><a href="{% url 'home' %}#">Learning IOS Apps in Amsterdam.</a></h3>
								<p class="mb25">Lorem ipsum dolor sit amet, consectetuer delacosta adipiscing elit, sed diam nonummy.</p>
							</div>
							<div class="view-all-btn bold-font">
								<a href="{% url 'home' %}#">View All Videos <i class="fas fa-chevron-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /. -->
				</div>
			</div>
		</section>
		{% endif %}
	<!-- End latest section
		============================================= -->



	<!-- Start of best course
		============================================= -->
		{% if courses %}
		<section id="best-course" class="best-course-section">
			<div class="container">
				<div class="section-title mb45 headline text-center "  >
					<span class="subtitle text-uppercase">ВЫБЕРИ СВОЙ КУРС</span>
					<h2>Расписание<span> курсов</span></h2>
				</div>
				<div class="best-course-area mb45">
					<div class="row">
						{% for course in courses %}
							<div class="col-md-4">
								<div class="best-course-pic-text relative-position "  >
									<div class="best-course-pic relative-position">
										<img src="{{ course.image_url }}" alt="">
										<div class="course-price text-center gradient-bg">
											<span>{{ course.date }}</span>
										</div>
										<div class="course-rate ul-li">
											<ul>
												<li><i class="fas fa-star"></i></li>
												<li><i class="fas fa-star"></i></li>
												<li><i class="fas fa-star"></i></li>
												<li><i class="fas fa-star"></i></li>
												<li><i class="fas fa-star"></i></li>
											</ul>
										</div>
										<div class="course-details-btn">
											<a href="{% url 'course_details' course.instance.slug course.lecturer course.date_slug %}">ПОДРОБНЕЕ <i class="fas fa-arrow-right"></i></a>
										</div>
										<a href="{% url 'course_details' course.instance.slug course.lecturer course.date_slug %}">
											<div class="blakish-overlay"></div>
										</a>
									</div>
									<div class="best-course-text">
										<div class="course-title mb20 headline relative-position">
											<h3><a href="{% url 'course_details' course.instance.slug course.lecturer course.date_slug %}">{{ course.instance.name }}</a></h3>
										</div>
										<div class="course-meta">
											<span class="course-category"><a href="{% url 'course_details' course.instance.slug course.lecturer course.date_slug %}">{{ course.instance.program }}</a></span>
											<span class="course-author"><a href="{% url 'course_details' course.instance.slug course.lecturer course.date_slug %}">{{ course.instance.duration }} д.</a></span>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
						<!-- /course -->
					</div>
				</div>
			</div>
		</section>
		{% endif %}
	<!-- End of best course
		============================================= -->

	<!-- Start of course teacher
		============================================= -->
		{% if teachers %}
		<section id="course-teacher" class="course-teacher-section">
			<div class="jarallax">
				<div class="container">
					<div class="section-title mb20 headline text-center "  >
						<span class="subtitle text-uppercase">OUR PROFESSIONAL</span>
						<h2>Genius Courses <span>Teachers.</span></h2>
					</div>

					<div class="teacher-list">
						<div class="row justify-content-center">
							<div class="col-md-3">
								<div class="teacher-img-content "  >
									<div class="teacher-cntent">
										<div class="teacher-social-name ul-li-block">
											<ul>
												<li><a href="{% url 'home' %}#"><i class="fab fa-facebook-f"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-twitter"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-google-plus-g"></i></a></li>
											</ul>
											<div class="teacher-name">
												<span>Daniel
												Alvares</span>
											</div>
										</div>
										<div class="teacher-img-category">
											<div class="teacher-img">
												<img src="{% static 'courses/img/teacher/t-1.jpg' %}" alt="">
												<div class="course-price text-uppercase text-center gradient-bg">
													<span>Featured</span>
												</div>
											</div>
											<div class="teacher-category float-right">
												<span class="st-name">Mobile Apps </span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /teacher -->
							<div class="col-md-3">
								<div class="teacher-img-content "  >
									<div class="teacher-cntent">
										<div class="teacher-social-name ul-li-block">
											<ul>
												<li><a href="{% url 'home' %}#"><i class="fab fa-facebook-f"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-twitter"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-google-plus-g"></i></a></li>
											</ul>
											<div class="teacher-name">
												<span>Juliana Hernandes</span>
											</div>
										</div>
										<div class="teacher-img-category">
											<div class="teacher-img">
												<img src="{% static 'courses/img/teacher/t-2.jpg' %}" alt="">
												<div class="course-price text-uppercase text-center gradient-bg">
													<span>Featured</span>
												</div>
											</div>
											<div class="teacher-category float-right">
												<span class="st-name">Mobile Apps </span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /teacher -->
							<div class="col-md-3">
								<div class="teacher-img-content "  >
									<div class="teacher-cntent">
										<div class="teacher-social-name ul-li-block">
											<ul>
												<li><a href="{% url 'home' %}#"><i class="fab fa-facebook-f"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-twitter"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-google-plus-g"></i></a></li>
											</ul>
											<div class="teacher-name">
												<span>Berliana
												Luis</span>
											</div>
										</div>
										<div class="teacher-img-category">
											<div class="teacher-img">
												<img src="{% static 'courses/img/teacher/t-3.jpg' %}" alt="">
												<div class="course-price text-uppercase text-center gradient-bg">
													<span>Featured</span>
												</div>
											</div>
											<div class="teacher-category float-right">
												<span class="st-name">IOS Apps </span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /teacher -->
							<div class="col-md-3">
								<div class="teacher-img-content "  >
									<div class="teacher-cntent">
										<div class="teacher-social-name ul-li-block">
											<ul>
												<li><a href="{% url 'home' %}#"><i class="fab fa-facebook-f"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-twitter"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-google-plus-g"></i></a></li>
											</ul>
											<div class="teacher-name">
												<span>Johansen
												Doe</span>
											</div>
										</div>
										<div class="teacher-img-category">
											<div class="teacher-img">
												<img src="{% static 'courses/img/teacher/t-4.jpg' %}" alt="">
												<div class="course-price text-uppercase text-center gradient-bg">
													<span>Featured</span>
												</div>
											</div>
											<div class="teacher-category float-right">
												<span class="st-name">Graphic </span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /teacher -->
							<div class="col-md-3">
								<div class="teacher-img-content "  >
									<div class="teacher-cntent">
										<div class="teacher-social-name ul-li-block">
											<ul>
												<li><a href="{% url 'home' %}#"><i class="fab fa-facebook-f"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-twitter"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-google-plus-g"></i></a></li>
											</ul>
											<div class="teacher-name">
												<span>Lisha
												Chambelt</span>
											</div>
										</div>
										<div class="teacher-img-category">
											<div class="teacher-img">
												<img src="{% static 'courses/img/teacher/t-6.jpg' %}" alt="">
												<div class="course-price text-uppercase text-center gradient-bg">
													<span>Featured</span>
												</div>
											</div>
											<div class="teacher-category float-right">
												<span class="st-name">Mobile Apps </span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /teacher -->
							<div class="col-md-3">
								<div class="teacher-img-content "  >
									<div class="teacher-cntent">
										<div class="teacher-social-name ul-li-block">
											<ul>
												<li><a href="{% url 'home' %}#"><i class="fab fa-facebook-f"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-twitter"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-google-plus-g"></i></a></li>
											</ul>
											<div class="teacher-name">
												<span>Checilia
												Yeoung</span>
											</div>
										</div>
										<div class="teacher-img-category">
											<div class="teacher-img">
												<img src="{% static 'courses/img/teacher/t-5.jpg' %}" alt="">
												<div class="course-price text-uppercase text-center gradient-bg">
													<span>Featured</span>
												</div>
											</div>
											<div class="teacher-category float-right">
												<span class="st-name">Mobile Apps </span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /teacher -->
							<div class="col-md-3">
								<div class="teacher-img-content "  >
									<div class="teacher-cntent">
										<div class="teacher-social-name ul-li-block">
											<ul>
												<li><a href="{% url 'home' %}#"><i class="fab fa-facebook-f"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-twitter"></i></a></li>
												<li><a href="{% url 'home' %}#"><i class="fab fa-google-plus-g"></i></a></li>
											</ul>
											<div class="teacher-name">
												<span>Sean
												Fernandes</span>
											</div>
										</div>
										<div class="teacher-img-category">
											<div class="teacher-img">
												<img src="{% static 'courses/img/teacher/t-7.jpg' %}" alt="">
												<div class="course-price text-uppercase text-center gradient-bg">
													<span>Featured</span>
												</div>
											</div>
											<div class="teacher-category float-right">
												<span class="st-name">Mobile Apps </span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /teacher -->
						</div>

						<div class="genius-btn gradient-bg text-center text-uppercase ul-li-block bold-font "  >
							<a href="{% url 'home' %}#">All teacher <i class="fas fa-caret-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		{% endif %}
	<!-- End of course teacher
		============================================= -->



	<!-- Start of best product section
		============================================= -->
		<section id="best-product" class="best-product-section">
			<div class="container">
				<div class="section-title-2 mb65 headline text-left "  >
					<h2>Наши <span>выпускники</span></h2>
				</div>
				<div id="best-product-slide-item" class="best-product-slide">
					{% for photo in graduate_photos %}
					<div class="product-img-text "  >
						<div class="product-img text-center mb20">
							<img src="{{ photo.image.url }}" alt="">
						</div>
						<div class="product-text-content relative-position">
							{% if photo.title %}
							<div class="best-title-price float-left">
								<div class="course-title headline">
									<h3>{{ photo.title }}</h3>
								</div>
							</div>
							{% endif %}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
	<!-- End  of best product section
		============================================= -->
		

	<!-- Start FAQ section
		============================================= -->
		<section id="faq" class="faq-section">
			<div class="container">
				<div class="section-title mb45 headline text-center "  >
					<span class="subtitle text-uppercase">FAQ</span>
					<h2>Остались<span> вопросы?</span></h2>
				</div>
				<div class="faq-tab">
					<div class="faq-tab-ques ul-li">
						<div class="tab-button text-center mb65 "  >
							<ul class="product-tab">
								<li class="active" rel="tab1">GENERAL </li>
								<li rel="tab2"> COURSES </li>
								<li rel="tab3"> TEACHERS </li>
								<li rel="tab4">  EVENTS  </li>
								<li rel="tab5">  OTHERS  </li>
							</ul>
						</div>
						<!-- /tab-head -->

						<!-- tab content -->
						<div class="tab-container">

							<!-- 1st tab -->
							<div id="tab1" class="tab-content-1 pt35">
								<div class="row">
									<div class="col-md-6">
										<div class="ques-ans mb45 headline "  >
											<h3> Реально ли стать мастером за один курс?</h3>
											<p>
												Не будем, конечно, вводить никого в заблуждение и говорить, что сразу после курса вы станете топовым востребованным мастером. Ведь цель наших курсов - заложить базовые навыки наращивания ресниц, научить вас правильно работать с инструментами и материалом, освоить основные техники, что сделать за 2 дня более чем реально!
												И получив эту базу, в дальнейшем вы сможете двигаться вперёд к любым вершинам мастерства. И то, как вы будете продвигаться к обозначенной цели, зависит не только от преподавателя, но и во многом от ваших стремлений и усилий.
												Поэтому, пройдя обучение у нас, можно стать начинающим мастером с большими перспективами роста и развития.
											</p>
										</div>

										<div class="ques-ans mb45 headline "  >
											<h3> А если я все-таки не смогу освоить практические навыки?</h3>
											<p>
												Да, конечно, такое возможно, и это зависит от ваших индивидуальных особенностей.
												Кому-то достаточно прослушать теоретическую часть, выполнить работу на модели под руководством наставника, чтобы уже делать приличные работы. Но бывают случаи, когда ученица все понимает, но руки "не слушаются". И в этом случае двух дней практики может не хватить для полноценного закрепления базовых навыков.
												Поэтому для таких случаев вы можете выбрать дополнительное практическое сопровождение после обучения, в ходе которого под присмотром и с корректировкой ошибок и недочётов вы будете отрабатывать технику на моделях до тех пор пока не почувствуете уверенность.
											</p>
										</div>
									</div>

									<div class="col-md-6">
										<div class="ques-ans mb45 headline "  >
											<h3> Получу ли я качественные знания?</h3>
											<p>
												Безусловно, наши преподаватели всегда дают только нужную и полезную информацию, благодаря которой можно легко научится наращивать ресницы после практической отработки навыков. И для того, чтобы полученные в ходе обучения знания не теряли своей актуальности, наши преподаватели регулярно посещают различные мастер-классы по наращиванию ресниц, где они узнают последние тендении lash-индустрии.
											</p>
										</div>

										<div class="ques-ans mb45 headline "  >
											<h3> Как мне найти первых клиентов, если я хочу работать самостоятельно?</h3>
											<p>
												Для того чтобы выстроить для себя как для частного мастера постоянный поток клиентов, необходимо проделать определенную немалую и специфическую работу, и делать её нужно будет регулярно в условиях постоянно растущей конкуренции. К примеру, в нашей студии для этого работает целая команда.
												Если конкретно, то вам необходимо будет освоить различные технологии интернет-маркетинга и при этом еще не забыть как качественно наращивать ресницы. Поэтому, хотя бы в первое время своей работы, пока вы только осваиваете навыки работы, рекомендуем вам поработать мастером в студии.
											</p>
										</div>
									</div>
								</div>
							</div>
							<!-- #tab1 -->

							<div id="tab2" class="tab-content-1 pt35">
								<div class="row">
									<div class="col-md-6">
										<div class="ques-ans mb45 headline "  >
											<h3> What is Genius Courses?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>

										<div class="ques-ans mb45 headline "  >
											<h3> What Lorem Ipsum Dolor Sit Amet Consectuerer?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>
									</div>

									<div class="col-md-6">
										<div class="ques-ans mb45 headline "  >
											<h3> How to Register or Make An Account in Genius?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>

										<div class="ques-ans mb45 headline "  >
											<h3> Adipiscing Diamet Nonnumy Nibh Euismod?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- #tab2 -->

							<div id="tab3" class="tab-content-1 pt35">
								<div class="row">
									<div class="col-md-6">
										<div class="ques-ans mb45 headline">
											<h3> What is Genius Courses?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>

										<div class="ques-ans mb45 headline">
											<h3> What Lorem Ipsum Dolor Sit Amet Consectuerer?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>
									</div>

									<div class="col-md-6">
										<div class="ques-ans mb45 headline">
											<h3> How to Register or Make An Account in Genius?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>

										<div class="ques-ans mb45 headline">
											<h3> Adipiscing Diamet Nonnumy Nibh Euismod?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- #tab3 -->

							<div id="tab4" class="tab-content-1 pt35">
								<div class="row">
									<div class="col-md-6">
										<div class="ques-ans mb45 headline">
											<h3> What is Genius Courses?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>

										<div class="ques-ans mb45 headline">
											<h3> What Lorem Ipsum Dolor Sit Amet Consectuerer?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>
									</div>

									<div class="col-md-6">
										<div class="ques-ans mb45 headline">
											<h3> How to Register or Make An Account in Genius?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>

										<div class="ques-ans mb45 headline">
											<h3> Adipiscing Diamet Nonnumy Nibh Euismod?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- #tab3 -->

							<div id="tab5" class="tab-content-1 pt35">
								<div class="row">
									<div class="col-md-6">
										<div class="ques-ans mb45 headline">
											<h3> What is Genius Courses?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>

										<div class="ques-ans mb45 headline">
											<h3> What Lorem Ipsum Dolor Sit Amet Consectuerer?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>
									</div>

									<div class="col-md-6">
										<div class="ques-ans mb45 headline">
											<h3> How to Register or Make An Account in Genius?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>

										<div class="ques-ans mb45 headline">
											<h3> Adipiscing Diamet Nonnumy Nibh Euismod?</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- #tab3 -->
						</div>
						<div class="view-all-btn bold-font "  >
							<a href="{% url 'home' %}#">Make a Question <i class="fas fa-chevron-circle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- End FAQ section
		============================================= -->


	<!-- Start Course category
		============================================= -->
		<section id="course-category" class="course-category-section">
			<div class="container">
				<div class="section-title mb45 headline text-center "  >
					<span class="subtitle text-uppercase">COURSES CATEGORIES</span>
					<h2>Browse Courses<span> By Category.</span></h2>
				</div>
				<div class="category-item">
					<div class="row">
						<div class="col-md-3">
							<div class="category-icon-title text-center "  >
								<div class="category-icon">
									<i class="text-gradiant flaticon-technology"></i>
								</div>
								<div class="category-title">
									<h4>Responsive Website</h4>
								</div>
							</div>
						</div>
						<!-- /category -->

						<div class="col-md-3">
							<div class="category-icon-title text-center "  >
								<div class="category-icon">
									<i class="text-gradiant flaticon-app-store"></i>
								</div>
								<div class="category-title">
									<h4>IOS Applications</h4>
								</div>
							</div>
						</div>
						<!-- /category -->

						<div class="col-md-3">
							<div class="category-icon-title text-center "  >
								<div class="category-icon">
									<i class="text-gradiant flaticon-artist-tools"></i>
								</div>
								<div class="category-title">
									<h4>Graphic Design</h4>
								</div>
							</div>
						</div>
						<!-- /category -->

						<div class="col-md-3">
							<div class="category-icon-title text-center "  >
								<div class="category-icon">
									<i class="text-gradiant flaticon-business"></i>
								</div>
								<div class="category-title">
									<h4>Marketing</h4>
								</div>
							</div>
						</div>
						<!-- /category -->

						<div class="col-md-3">
							<div class="category-icon-title text-center "  >
								<div class="category-icon">
									<i class="text-gradiant flaticon-dna"></i>
								</div>
								<div class="category-title">
									<h4>Science</h4>
								</div>
							</div>
						</div>
						<!-- /category -->

						<div class="col-md-3">
							<div class="category-icon-title text-center "  >
								<div class="category-icon">
									<i class="text-gradiant flaticon-cogwheel"></i>
								</div>
								<div class="category-title">
									<h4>Enginering</h4>
								</div>
							</div>
						</div>
						<!-- /category -->

						<div class="col-md-3">
							<div class="category-icon-title text-center "  >
								<div class="category-icon">
									<i class="text-gradiant flaticon-technology-1"></i>
								</div>
								<div class="category-title">
									<h4>Photography</h4>
								</div>
							</div>
						</div>
						<!-- /category -->

						<div class="col-md-3">
							<div class="category-icon-title text-center "  >
								<div class="category-icon">
									<i class="text-gradiant flaticon-technology-2"></i>
								</div>
								<div class="category-title">
									<h4>Mobile Application</h4>
								</div>
							</div>
						</div>
						<!-- /category -->
					</div>
				</div>
			</div>
		</section>
	<!-- End Course category
		============================================= -->


	<!-- Start of contact area
		============================================= -->
		<section id="contact-area" class="contact-area-section backgroud-style">
			<div class="container">
				<div class="contact-area-content">
					<div class="row">
						<div class="col-md-6">
							<div class="contact-left-content " >
								<div class="section-title  mb45 headline text-left">
									<span class="subtitle ml42  text-uppercase">Контакты</span>
									<h2><span>Как нас найти</span></h2>
									<p>{{ office.description }}</p>
								</div>
								<div class="contact-address">
									<div class="contact-address-details">
										<div class="address-icon relative-position text-center float-left">
											<i class="fas fa-map-marker-alt"></i>
										</div>
										<div class="address-details ul-li-block">
											<ul>
												<li>{{ office.title }}</li>
												<li>{{ office.address }}</li>
											</ul>
										</div>
									</div>

									<div class="contact-address-details">
										<div class="address-icon relative-position text-center float-left">
											<i class="fas fa-phone"></i>
										</div>
										<div class="address-details ul-li-block">
											<ul>
												<li><span>Tel/Viber/WhatsApp: </span>+7(919) 442-35-36</li>
												<li><span>Telegram: </span><a href="https://t.me/OksaStudio_bot">OksaStudioBot</a></li>
											</ul>
										</div>
									</div>

									<div class="contact-address-details">
										<div class="address-icon relative-position text-center float-left">
											<i class="fas fa-envelope"></i>
										</div>
										<div class="address-details ul-li-block">
											<ul>
												<li><span>Admin Email: </span>master@oksa-studio.ru</li>
												<li><span>Lecturer Email: </span>oksarap@mail.ru</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="genius-btn mt60 gradient-bg text-center text-uppercase ul-li-block bold-font ">
								<a href="{% url 'contact' %}#">Contact Us <i class="fas fa-caret-right"></i></a>
							</div>
						</div>

						<div class="col-md-6">
							<div id="contact-map" class="contact-map-section">
								<div id="google-map">
									<script type="text/javascript" charset="utf-8" async src="{{ src_map }}"></script>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- End of contact area
		============================================= -->
{% endblock %}