{% extends "courses/base.html" %}
{% load static %}
{% block title %}Course details{% endblock %}
{% block content %}


	<!-- Start of breadcrumb section
		============================================= -->
		<section id="breadcrumb" class="breadcrumb-section relative-position backgroud-style">
			<div class="blakish-overlay"></div>
			<div class="container">
				<div class="page-breadcrumb-content text-center">
					<div class="page-breadcrumb-title">
						<h2 class="breadcrumb-head black bold"><span>{{ program.title }}</span></h2>
					</div>
				</div>
			</div>
		</section>
	<!-- End of breadcrumb section
		============================================= -->


	<!-- Start of course details section
		============================================= -->
		<section id="course-details" class="course-details-section">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="course-single-pic mb30">
							<img src="{{ program.image.url }}" alt="">
						</div>
						<div class="course-single-text">
							<div class="course-title mt10 headline relative-position">
								<h3><a href="{% url 'program_details' program.slug %}#"><b>Программа: {{ program.title }}</b></a></h3>
							</div>
							<div class="course-details-content">
								{% autoescape off %}{{ program.description }}{% endautoescape %}
							</div>
						</div>
					</div>

					<div class="col-md-3">
						{% if courses %}<h2 class="widget-title text-capitalize" style="z-index: 2;"><span>Ближайшие </span>курсы</h2>{% endif %}
						{% if courses %}
						{% for course in courses %}
							<div class="latest-news-area">
								<div class="latest-news-thumbnile relative-position">
									<img src="{{ course.image_preview_url }}" alt="{{ course.instance.name }}">
									<a href="{% url 'course_details' course.instance.slug course.lecturer course.date_slug %}"><div class="blakish-overlay"></div></a>
								</div>
								<div class="date-meta">
									<i class="fas fa-calendar-alt"></i> {{ course.date }}
								</div>
								<h3 class="latest-title bold-font"><a href="{% url 'course_details' course.instance.slug course.lecturer course.date_slug %}">{{ course.instance.name }}</a></h3>
							</div>
						{% endfor %}
						{% else %}
							<div class="register-content">
								<div class="register-fomr-title text-center">
									<h3 class="bold-font" style="font-size: 20px;color: black; margin-bottom: 30px; line-height: 1.8;">Оставь заявку <br><span>чтобы узнать о предстоящих курсах по программе<br>{{ program.title }}</span></h3>
								</div>
								<div class="register-form-area">
									<form class="contact_form" action="" method="post" enctype="multipart/form-data">
										{% csrf_token %}
										<div class="contact-info" style="margin-top: 10px;">
											{{ form.name }}
										</div>
										<div class="contact-info" style="margin-top: 10px;">
											{{ form.phone }}
										</div>
										<div class="contact-info" style="margin-top: 10px;">
											{{ form.email }}
										</div>
										<input type="hidden" name="type_form" value="registration">
										<div class="nws-button text-uppercase text-center white text-capitalize" style="margin-top: 30px;">
											<button type="submit" value="Submit">ОТПРАВИТЬ</button>
										</div>
									</form>
									{% if not footer_form %}
									{% for message in messages %}
										<div class="message {{ message.tags }}" style="color: red">{{ message }}</div>
									{% endfor %}
									{% endif %}
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</section>
	<!-- End of course details section
		============================================= -->

{% endblock %}
