{% extends "courses/base.html" %}
{% load static %}
{% block title %}Teacher details{% endblock %}
{% block content %}

	<!-- Start of breadcrumb section
		============================================= -->
		<section id="breadcrumb" class="breadcrumb-section relative-position backgroud-style">
			<div class="blakish-overlay"></div>
			<div class="container">
				<div class="page-breadcrumb-content text-center">
					<div class="page-breadcrumb-title">
						<h2 class="breadcrumb-head black bold">Genius <span>Teacher</span></h2>
					</div>
					<div class="page-breadcrumb-item ul-li">
						<ul class="breadcrumb text-uppercase black">
							<li class="breadcrumb-item"><a href="{% url 'home' %}#">Home</a></li>
							<li class="breadcrumb-item active">Teachers Details</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	<!-- End of breadcrumb section
		============================================= -->	


	<!-- Start of teacher details area
		============================================= -->	
		<section id="teacher-details" class="teacher-details-area">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="teacher-details-content mb45">
							<div class="row">
								<div class="col-md-6">
									<div class="teacher-details-img">
										<img src="{% static 'courses/img/teacher/td-1.jpg' %}" alt="">
									</div>
								</div>
								<div class="col-md-6">
									<div class="teacher-details-text">
										<div class="section-title-2  headline text-left">
											<h2>Michele <span>Lusiana Fernandes.</span></h2>
											<div class="teacher-deg">
												Specialities: <span>Mobile Apps.</span> 
											</div>
										</div>
										<div class="teacher-desc-social ul-li">
											<ul>
												<li>
													<a href="{% url 'teacher_details' %}#">
														<div class="info-social">
															<i class="fab fa-facebook-f"></i>
														</div>
														<span class="info-text">Facebook</span>
													</a>
												</li>
												<li>
													<a href="{% url 'teacher_details' %}#">
														<div class="info-social">
															<i class="fab fa-twitter"></i>
														</div>
														<span class="info-text">Twitter</span>
													</a>
												</li>
												<li>
													<a href="{% url 'teacher_details' %}#">
														<div class="info-social">
															<i class="fab fa-behance"></i>
														</div>
														<span class="info-text">Behance</span>

													</a>
												</li>
												<li>
													<a href="{% url 'teacher_details' %}#">
														<div class="info-social">
															<i class="fab fa-google-plus-g"></i>
														</div>
														<span class="info-text">Google + </span>
														
													</a>
												</li>
											</ul>
										</div>

										<div class="teacher-address">
											<div class="address-details ul-li-block">
												<ul>
													<li>
														<div class="addrs-icon">
															<i class="fas fa-map-marker-alt"></i>
														</div>
														<div class="add-info">
															<span><b>Address: </b>210, Firs Avenue, Texas Hill, US</span>
														</div>
													</li>
													<li>
														<div class="addrs-icon">
															<i class="fas fa-phone"></i>
														</div>
														<div class="add-info">
															<span><b>Telp: </b>100 9889-2000</span>
														</div>
													</li>
													<li>
														<div class="addrs-icon">
															<i class="fas fa-envelope"></i>
														</div>
														<div class="add-info">
															<span><b>E-mail: </b>genius@lusianafernandes.com</span>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="about-teacher mb45">
							<div class="section-title-2  headline text-left">
								<h2>About <span>Teacher.</span></h2>
							</div>
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
							</p>
						</div>

						<div class="about-teacher mb45 teacher-specialist">
							<div class="section-title-2  headline text-left">
								<h2>Teacher <span>Specialities.</span></h2>
							</div>

							<div class="category-slide text-center">
								<div class="category-icon-title text-center">
									<div class="category-icon">
										<i class="text-gradiant flaticon-technology"></i>
									</div>
									<div class="category-title">
										<h4>Responsive Website</h4>
									</div>
								</div>

								<div class="category-icon-title text-center">
									<div class="category-icon">
										<i class="text-gradiant flaticon-app-store"></i>
									</div>
									<div class="category-title">
										<h4>IOS Applications</h4>
									</div>
								</div>

								<div class="category-icon-title text-center">
									<div class="category-icon">
										<i class="text-gradiant flaticon-artist-tools"></i>
									</div>
									<div class="category-title">
										<h4>Graphic Design</h4>
									</div>
								</div>

								<div class="category-icon-title text-center">
									<div class="category-icon">
										<i class="text-gradiant flaticon-business"></i>
									</div>
									<div class="category-title">
										<h4>Marketing</h4>
									</div>
								</div>

								<div class="category-icon-title text-center">
									<div class="category-icon">
										<i class="text-gradiant flaticon-dna"></i>
									</div>
									<div class="category-title">
										<h4>Science</h4>
									</div>
								</div>

								<div class="category-icon-title text-center">
									<div class="category-icon">
										<i class="text-gradiant flaticon-cogwheel"></i>
									</div>
									<div class="category-title">
										<h4>Enginering</h4>
									</div>
								</div>

								<div class="category-icon-title text-center">
									<div class="category-icon">
										<i class="text-gradiant flaticon-technology-1"></i>
									</div>
									<div class="category-title">
										<h4>Photography</h4>
									</div>
								</div>

								<div class="category-icon-title text-center">
									<div class="category-icon">
										<i class="text-gradiant flaticon-technology-2"></i>
									</div>
									<div class="category-title">
										<h4>Mobile Application</h4>
									</div>
								</div>

							</div>
						</div>

						<div class="about-teacher about-faq faq-secound-home-version">
							<div class="section-title-2  headline text-left">
								<h2>Frequently  <span>Ask & Questions.</span></h2>
							</div>
							
							<div class="faq-tab mb35">
								<div class="faq-tab-ques  ul-li">
									<div class="tab-button  mb30">
										<ul class="product-tab">
											<li class="active" rel="tab1">GENERAL </li>
											<li rel="tab2"> COURSES </li>
											<li rel="tab3"> TEACHERS </li>
											<li rel="tab4">  EVENTS  </li>
											<li rel="tab5">  OTHERS  </li>
										</ul>
									</div>
									<!-- /tab-head -->

									<!-- tab content -->
									<div class="tab-container">

										<!-- 1st tab -->
										<div id="tab1" class="tab-content-1 pt35">
											<div id="accordion3" class="panel-group">
												<div class="panel">
													<div class="panel-title" id="headingOne">
														<h3 class="mb-0">
															<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
																How to Register or Make An Account in Genius?
															</button>
														</h3>
													</div>
													<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion3">
														<div class="panel-body">
															Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam consectetuer adipiscing elit, sed diam nonummy.
														</div>
													</div>
												</div>
												<div class="panel">
													<div class="panel-title" id="headingTwo">
														<h3 class="mb-0">
															<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
																What is Genius Courses?
															</button>
														</h3>
													</div>
													<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion3">
														<div class="panel-body">
															Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam consectetuer adipiscing elit, sed diam nonummy.
														</div>
													</div>
												</div>
												<div class="panel">
													<div class="panel-title" id="headingThree">
														<h3 class="mb-0">
															<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
																What Lorem Ipsum Dolor Sit Amet Consectuerer?
															</button>
														</h3>
													</div>
													<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion3">
														<div class="panel-body">
															Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam consectetuer adipiscing elit, sed diam nonummy.
														</div>
													</div>
												</div>
												<div class="panel">
													<div class="panel-title" id="headingFoure">
														<h3 class="mb-0">
															<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFoure" aria-expanded="false" aria-controls="collapseFoure">
																Adipiscing Diamet Nonnumy Nibh Euismod?
															</button>
														</h3>
													</div>
													<div id="collapseFoure" class="collapse" data-parent="#accordion3">
														<div class="panel-body">
															Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam consectetuer adipiscing elit, sed diam nonummy.
														</div>
													</div>
												</div>
											</div>
											<!-- end of #accordion -->

										</div>
										<!-- #tab1 -->

										<div id="tab2" class="tab-content-1 pt35">
											<div id="accordion" class="panel-group">
												<div class="panel">
													<div class="panel-title" id="headingSix">
														<h3 class="mb-0">
															<button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
																How to Register or Make An Account in Genius?
															</button>
														</h3>
													</div>
													<div id="collapseSix" class="collapse show" aria-labelledby="headingSix" data-parent="#accordion">
														<div class="panel-body">
															Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam consectetuer adipiscing elit, sed diam nonummy.
														</div>
													</div>
												</div>
												<div class="panel">
													<div class="panel-title" id="headingSeven">
														<h3 class="mb-0">
															<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
																What is Genius Courses?
															</button>
														</h3>
													</div>
													<div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
														<div class="panel-body">
															Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam consectetuer adipiscing elit, sed diam nonummy.
														</div>
													</div>
												</div>
												<div class="panel">
													<div class="panel-title" id="headingEight">
														<h3 class="mb-0">
															<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
																What Lorem Ipsum Dolor Sit Amet Consectuerer?
															</button>
														</h3>
													</div>
													<div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
														<div class="panel-body">
															Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam consectetuer adipiscing elit, sed diam nonummy.
														</div>
													</div>
												</div>
												<div class="panel">
													<div class="panel-title" id="headingNine">
														<h3 class="mb-0">
															<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
																Adipiscing Diamet Nonnumy Nibh Euismod?
															</button>
														</h3>
													</div>
													<div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
														<div class="panel-body">
															Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam consectetuer adipiscing elit, sed diam nonummy.
														</div>
													</div>
												</div>
											</div>
											<!-- end of #accordion -->
										</div>
										<!-- #tab2 -->

										<div id="tab3" class="tab-content-1 pt35">
											<div class="row">
												<div class="col-md-6">
													<div class="ques-ans mb45 headline">
														<h3> What is Genius Courses?</h3>
														<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
													</div>

													<div class="ques-ans mb45 headline">
														<h3> What Lorem Ipsum Dolor Sit Amet Consectuerer?</h3>
														<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
													</div>
												</div>

												<div class="col-md-6">
													<div class="ques-ans mb45 headline">
														<h3> How to Register or Make An Account in Genius?</h3>
														<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
													</div>

													<div class="ques-ans mb45 headline">
														<h3> Adipiscing Diamet Nonnumy Nibh Euismod?</h3>
														<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
													</div>
												</div>
											</div>
										</div>
										<!-- #tab3 -->

										<div id="tab4" class="tab-content-1 pt35">
											<div class="row">
												<div class="col-md-6">
													<div class="ques-ans mb45 headline">
														<h3> What is Genius Courses?</h3>
														<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
													</div>

													<div class="ques-ans mb45 headline">
														<h3> What Lorem Ipsum Dolor Sit Amet Consectuerer?</h3>
														<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
													</div>
												</div>

												<div class="col-md-6">
													<div class="ques-ans mb45 headline">
														<h3> How to Register or Make An Account in Genius?</h3>
														<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
													</div>

													<div class="ques-ans mb45 headline">
														<h3> Adipiscing Diamet Nonnumy Nibh Euismod?</h3>
														<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
													</div>
												</div>
											</div>
										</div>
										<!-- #tab3 -->

										<div id="tab5" class="tab-content-1 pt35">
											<div class="row">
												<div class="col-md-6">
													<div class="ques-ans mb45 headline">
														<h3> What is Genius Courses?</h3>
														<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
													</div>

													<div class="ques-ans mb45 headline">
														<h3> What Lorem Ipsum Dolor Sit Amet Consectuerer?</h3>
														<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
													</div>
												</div>

												<div class="col-md-6">
													<div class="ques-ans mb45 headline">
														<h3> How to Register or Make An Account in Genius?</h3>
														<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
													</div>

													<div class="ques-ans mb45 headline">
														<h3> Adipiscing Diamet Nonnumy Nibh Euismod?</h3>
														<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam volutpat. Ut wisi enim ad minim veniam.</p>
													</div>
												</div>
											</div>
										</div>
										<!-- #tab3 -->
									</div>
								</div>
							</div>

							<div class="about-btn">
								<div class="genius-btn gradient-bg text-center text-uppercase ul-li-block bold-font">
									<a href="{% url 'teacher_details' %}#">Make Question <i class="fas fa-caret-right"></i></a>
								</div>
								<div class="genius-btn gradient-bg text-center text-uppercase ul-li-block bold-font">
									<a href="{% url 'teacher_details' %}#">contact us <i class="fas fa-caret-right"></i></a>
								</div>
							</div>
						</div>

						<div class="about-teacher teacher-contact">
							<div class="section-title-2  headline text-left">
								<h2>Have a Question? Send a <span>Message.</span></h2>
							</div>

							<div class="teacher-faq-form">
								<form  method="POST" action="https://jthemes.net/no-form"  data-lead="Residential">
									<div class="row">
										<div class="col-md-6">
											<label for="name">Your Name</label>
											<input type="text" name="name" id="name" required="required">
										</div>
										<div class="col-md-6">
											<label for="phone">Email Address</label>
											<input type="tel" name="phone" id="phone" required="required">
										</div>
									</div>
									<label for="comments">Message</label>
									<textarea name="comments" id="comments" rows="2" cols="20" required="required"></textarea>
									<div class="nws-button text-center  gradient-bg text-uppercase">
										<button type="submit" value="Submit">Send Message now</button> 
									</div>
								</form>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="side-bar-widget first-widget">
							<h2 class="widget-title text-capitalize"><span>Find A Course </span>& Sign up Today.</h2>
							<div class="course-img">
								<img src="{% static 'courses/img/teacher/ct-1.jpg' %}" alt="">
							</div>
							<div class="course-desc">
								<p>Lorem ipsum dolor sit  consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
							</div>
							<div class="genius-btn gradient-bg text-center text-uppercase ul-li-block bold-font">
								<a href="{% url 'teacher_details' %}#">VIEW ONLINE COURSES <i class="fas fa-caret-right"></i></a>
							</div>
						</div>

						<div class="side-bar-widget">
							<h2 class="widget-title text-capitalize"><span>Related </span>News.</h2>
							<div class="latest-news-posts">
								<div class="latest-news-area">
									<div class="latest-news-thumbnile relative-position">
										<img src="{% static 'courses/img/blog/lb-1.jpg' %}" alt="">
										<div class="hover-search">
											<i class="fas fa-search"></i>
										</div>
										<div class="blakish-overlay"></div>
									</div>
									<div class="date-meta">
										<i class="fas fa-calendar-alt"></i> 26 April 2018
									</div>
									<h3 class="latest-title bold-font"><a href="{% url 'teacher_details' %}#">Affiliate Marketing A Beginner’s Guide.</a></h3>
								</div>
								<!-- /post -->

								<div class="latest-news-posts">
									<div class="latest-news-area">
										<div class="latest-news-thumbnile relative-position">
											<img src="{% static 'courses/img/blog/lb-2.jpg' %}" alt="">
											<div class="hover-search">
												<i class="fas fa-search"></i>
											</div>
											<div class="blakish-overlay"></div>
										</div>
										<div class="date-meta">
											<i class="fas fa-calendar-alt"></i> 26 April 2018
										</div>
										<h3 class="latest-title bold-font"><a href="{% url 'teacher_details' %}#">No.1 The Best Online Course 2018.</a></h3>
									</div>
									<!-- /post -->
								</div>

								<div class="view-all-btn bold-font">
									<a href="{% url 'teacher_details' %}#">View All News <i class="fas fa-chevron-circle-right"></i></a>
								</div>
							</div>
						</div>

						<div class="side-bar-widget">
							<h2 class="widget-title text-capitalize"><span>Featured</span> Course.</h2>
							<div class="featured-course">
								<div class="best-course-pic-text relative-position">
									<div class="best-course-pic relative-position">
										<img src="{% static 'courses/img/blog/fb-1.jpg' %}" alt="">
										<div class="trend-badge-2 text-center text-uppercase">
											<i class="fas fa-bolt"></i>
											<span>Trending</span>
										</div>
									</div>
									<div class="best-course-text">
										<div class="course-title mb20 headline relative-position">
											<h3><a href="{% url 'teacher_details' %}#">Fully Responsive Web Design &amp; Development.</a></h3>
										</div>
										<div class="course-meta">
											<span class="course-category"><a href="{% url 'teacher_details' %}#">Web Design</a></span>
											<span class="course-author"><a href="{% url 'teacher_details' %}#">250 Students</a></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- End  of teacher details area
		============================================= -->	






	<!-- Start of best product section
		============================================= -->
		<section id="best-product" class="best-product-section best-product-4">
			<div class="container">
				<div class="section-title-2 mb65 headline text-left">
					<h2>Genius <span>Best Products.</span></h2>
				</div>
				<div id="best-product-slide-item" class="best-product-slide">
					<div class="product-img-text">
						<div class="product-img text-center mb20">
							<img src="{% static 'courses/img/product/bp-1.png' %}" alt="">
						</div>
						<div class="product-text-content relative-position">
							<div class="best-title-price float-left">
								<div class="course-title headline">
									<h3><a href="{% url 'teacher_details' %}#">Mobile Apps Books.</a></h3>
								</div>
								<div class="price-start">
									Start from
									<span>$55.25</span>
								</div>
							</div>
							<div class="add-cart text-center">
								<i class="fas fa-cart-plus"></i>
							</div>
						</div>
					</div>

					<div class="product-img-text">
						<div class="product-img text-center mb20">
							<img src="{% static 'courses/img/product/bp-2.png' %}" alt="">
						</div>
						<div class="product-text-content relative-position">
							<div class="best-title-price float-left">
								<div class="course-title headline">
									<h3><a href="{% url 'teacher_details' %}#">Mobile Apps Books.</a></h3>
								</div>
								<div class="price-start">
									Start from
									<span>$55.25</span>
								</div>
							</div>
							<div class="add-cart text-center">
								<i class="fas fa-cart-plus"></i>
							</div>
						</div>
					</div>
					<div class="product-img-text">
						<div class="product-img text-center mb20">
							<img src="{% static 'courses/img/product/bp-3.png' %}" alt="">
						</div>
						<div class="product-text-content relative-position">
							<div class="best-title-price float-left">
								<div class="course-title headline">
									<h3><a href="{% url 'teacher_details' %}#">Mobile Apps Books.</a></h3>
								</div>
								<div class="price-start">
									Start from
									<span>$55.25</span>
								</div>
							</div>
							<div class="add-cart text-center">
								<i class="fas fa-cart-plus"></i>
							</div>
						</div>
					</div>
					<div class="product-img-text">
						<div class="product-img text-center mb20">
							<img src="{% static 'courses/img/product/bp-4.png' %}" alt="">
						</div>
						<div class="product-text-content relative-position">
							<div class="best-title-price float-left">
								<div class="course-title headline">
									<h3><a href="{% url 'teacher_details' %}#">Mobile Apps Books.</a></h3>
								</div>
								<div class="price-start">
									Start from
									<span>$55.25</span>
								</div>
							</div>
							<div class="add-cart text-center">
								<i class="fas fa-cart-plus"></i>
							</div>
						</div>
					</div>
					<div class="product-img-text">
						<div class="product-img text-center mb20">
							<img src="{% static 'courses/img/product/bp-5.png' %}" alt="">
						</div>
						<div class="product-text-content relative-position">
							<div class="best-title-price float-left">
								<div class="course-title headline">
									<h3><a href="{% url 'teacher_details' %}#">Mobile Apps Books.</a></h3>
								</div>
								<div class="price-start">
									Start from
									<span>$55.25</span>
								</div>
							</div>
							<div class="add-cart text-center">
								<i class="fas fa-cart-plus"></i>
							</div>
						</div>
					</div>
					<div class="product-img-text">
						<div class="product-img text-center mb20">
							<img src="{% static 'courses/img/product/bp-6.png' %}" alt="">
						</div>
						<div class="product-text-content relative-position">
							<div class="best-title-price float-left">
								<div class="course-title headline">
									<h3><a href="{% url 'teacher_details' %}#">Mobile Apps Books.</a></h3>
								</div>
								<div class="price-start">
									Start from
									<span>$55.25</span>
								</div>
							</div>
							<div class="add-cart text-center">
								<i class="fas fa-cart-plus"></i>
							</div>
						</div>
					</div>
					<div class="product-img-text">
						<div class="product-img text-center mb20">
							<img src="{% static 'courses/img/product/bp-1.png' %}" alt="">
						</div>
						<div class="product-text-content relative-position">
							<div class="best-title-price float-left">
								<div class="course-title headline">
									<h3><a href="{% url 'teacher_details' %}#">Mobile Apps Books.</a></h3>
								</div>
								<div class="price-start">
									Start from
									<span>$55.25</span>
								</div>
							</div>
							<div class="add-cart text-center">
								<i class="fas fa-cart-plus"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- End  of best product section
		============================================= -->

{% endblock %}